#filter-options {
    font-size: 12px;
    margin: 10px 0px 0px 20px;
    width: 300px;
}

#filter-options form {
    margin-bottom: 0px;
}

#filter-options table {
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
    vertical-align: middle;
}

#filter-options thead {
    font-size: 16px;
    text-decoration: bold;
}

#filter-options input[type='checkbox'] {
    width: 14px;
    height: 14px;
    margin: 0px 5px 0px 0px;
}

.filtered {
    color: gray;
    font-style: italic;
}

