#comment-display-inner {
    position: relative;
    margin-left: 5px;
    min-height: 5px;
}

.comment, .reply {
    border: 1px solid #ddd;
    margin: 10px 0px 0px 0px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 1px 1px 2px #aaa;
    background-color: #fff;
}
.comment:hover {
    cursor: pointer;
    background-color: #eee;
}

.collapsed.comment {
    height: 16px;
    overflow: hidden;
}

.collapsed.comment.comment-reply {
    height: 0px; 
    border: 0px;
}

.comment.comment-reply, .comment.similar-comment {
    border-top: 0px;
    margin-top: 0px;
    border-top-left-radius: 0px;
    -moz-border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-top-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
}

.comment.comment-reply, .similar-comment-wrapper {
    margin-left: 20px;
}

.similar-reply-wrapper {
    margin-left: 40px;
}

.comment.comment-auto {
    color: #888;
}

.comment-header {
    font-size: 10px;
    border-bottom: 1px dashed #ddd;
    padding: 0px 2px;
    position: relative;
}
.comment-header .comment-line-numbers {
    float: left;
    padding-right: 0.5em;
}
.comment-header .comment-snippet {
    display: block;
    color: #777;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'andale mono', 'lucida console', monospace;
}
.collapsed .comment-header {
    border-bottom: 0px;
}

.comment-title {
    overflow: hidden;
}

.collapsed .comment-snippet {
    display: none;
}

.comment-visibility {
    position: absolute;
    display: none;
    height: 16px;
    width: 16px;
    right: 0px;
}

.comment:hover .comment-visibility, .reply:hover .comment-visibility {
    display: block;
}

.comment.expanded .comment-visibility {
    background-image: url('../img/toggle-small.png');
}

.comment.collapsed .comment-visibility {
    background-image: url('../img/toggle-small-expand.png');
}

.comment-author {
    text-align: right;
    padding: 0px 5px;
    color: #777;
    font-size: 10px;
}

/*.comment-author-name.staff {
    color: #482;
}

.comment-author-name.staff:before {
    content: "[T] ";
}*/

.comment-author-name.teacher {
    color: #482;
}

.comment-author-name.teacher a {
    color: #482 !important;
}

.comment-author-icon.teacher {
    content: url('../img/staralt_comments.png');
}

.comment-author-name.volunteer {
    color: #ff3636;
}

.comment-author-name.volunteer a {
    color: #ff3636 !important;
}

.comment-author-icon.volunteer {
    content: url('../img/staralt_comments.png');
}

.comment-author-name.student {
    color: #66f;
}

/*.comment-author-name.student:before {
    content: "[S] ";
}*/

.collapsed .comment-author {
    display: none;
}

.collapsed .comment-form {
    display: none;
}

.comment-text {
    padding: 5px;
    margin: 0px;
    clear: both;
}

.collapsed .comment-text {
    color: #777;
    font-size: 10px;
    padding: 0px;
    clear: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.comment-footer {
    display: block;
    overflow: auto;
    height: 28px;
    padding: 0px 5px;
    position: relative;
}

.comment.collapsed .comment-footer {
    display: none;
}

.comment-footer .comment-votes {
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.voteup-highlighted {
    background-color: #FF6;
}
.votedown-highlighted {
    background-color: #FF6;
}
.comment-footer .comment-actions {
    float: right;
    display: none;
}

.comment.expanded:hover .comment-footer .comment-actions {
    display: block;
}

.vote-buttons {

}

.vote-buttons .vote {
    display: inline-block;
    height: 21px;
    padding-left: 21px;
    padding-right: 2px;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #333;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.vote-buttons.enabled .vote:hover {
    background-color: #ccc;
    cursor: pointer;
}

.vote-buttons .vote.up {
    background-image: url('../img/thumb-up.png'); 
    background-repeat: no-repeat; 
    background-position: 2px 2px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.vote-buttons .vote.down {
    background-image: url('../img/thumb-down.png');
    background-repeat: no-repeat;
    background-position: 2px 2px;
    margin-left: -4px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.vote-buttons .vote.selected {
    background-color: #ffff5a;
}

.ui-button-text {
    font-size: 75%;
}

.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {
    padding-left: 2.4em;
}

.ui-button .ui-icon-reply {
    background-image: url('../img/arrow-curve-180-left.png');
    width: 16px;
    height: 16px;
}

.ui-button .ui-icon-delete {
    background-image: url('../img/cross-script.png');
    width: 16px;
    height: 16px;
}

.ui-button .ui-icon-edit {
    background-image: url('../img/pencil-small.png');
    width: 16px;
    height: 16px;
}

.new-comment, .new-reply, .similar-comment, .new-comment:hover, .new-reply:hover, .similar-comment:hover {
    background-color: #ffff88;
    cursor: default;
}

.new-comment textarea, .reply-form textarea {
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    height: auto;
    cursor: text;
}

.comment-form, .reply-form {
    padding: 5px;
}

.similar-comment {
    padding: 0px 4px;
}

.similar-comment-text, .similar-comment-author-link {
    font-size: 9px;
}

#hidden-textarea {
    display: none;
}

#textentry {
    width: auto;
    height: 70px;
    background-color: white;
    border: 1px solid #666666;
    resize: vertical;
    padding: 5px;
    overflow-y: scroll;
}

.similar-comment.selected, .new-comment.selected {
    /*background-color: #ffe188;*/
    border: 2px dotted #666666;
}

#feedback {
    color: grey;
    font-style: italic;
}

.bubble.triangle-isosceles.left {
    z-index: 1000;
    background-color: #ffff88;
    border: 1px solid #ddd;
    position: absolute;
    margin-left: 30px;
}

.bubble.triangle-isosceles.left::after {
    border-color:transparent #ffff88;
    border-width:10px 30px 10px 0;
    left: -30px;
}
