#footer {
    position: relative;
    z-index: -1;
    text-align: right;
}

.help {
    color: #555;
    display: block;
    font-size: 0.9em;
    margin-top: -5px;
}

button {
    background: #eee;
    background: -moz-linear-gradient(top, #eee 0%, #ccc 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ccc));
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #333;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-size: .9em;
    line-height: 1;
    padding: 4px 8px;
    text-align: center;
    text-shadow: 0 1px 0 #eee;
}

button:hover {
    background: #ddd;
    background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#bbb));
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd;
}

button:active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -moz-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
    -webkit-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
    box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
}

button[disabled], button[disabled]:active {
    color: #aaa;
    background: #efefef;
    cursor: default;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button[disabled]:hover, button[disabled]:focus {
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
}

.hashtag-important {
    color:black; 
    background:#FFBEBE; 
    padding: 1px 2px 1px 2px; 
    border-radius:3px; 
    text-decoration: none;
}
/*
.hashtag-important:hover {
    background:none;
    cursor:pointer;
}
*/
