.chunk-line {
    font-family: monospace;
    font-size: 10px;
    margin: 0;
    display: block;
}

.chunk-line:hover {
    cursor: pointer;
    background-color: #eee
}

.line-code {
    display: inline;
}

.line-number {
    display: inline-block;
    text-align: right;
    width: 3em;
    background-color: #ccf;
    margin-right: 1em;
    padding: 0 .25em;
}

