#task-count {
    display: inline-block;
    font-weight: bold;
    font-size: 1em;
}

#chunk-display {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding-left: 18px;
}

.chunk-line {
    font-family: monospace;
    font-size: 11px;
    margin: 0;
    display: block;
    position: relative;
}

.line {
    display: block;
}

.line:hover {
    background-color: #eee;
    cursor: pointer;
}

.chunk-line .comment-marker {
    vertical-align: middle;
    position: absolute;
    left: -18px;
}

.chunk-line .comment-marker {
    cursor: pointer;
}

.line-code {
    display: inline;
}

.line-number {
    display: inline-block;
    text-align: right;
    width: 2.5em;
    background-color: #ccf;
    margin-right: 1em;
    padding: 0 .25em;
}

.ui-selected {
    background-color: #FFFF5A;
}
.ui-selecting {
    background-color: #FFFFCA;
}

.line.highlighted {
    background-color: #FFFFCA;
}
