DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.<dbbackend>',
        'NAME': '',
        'USER': '',   
        'PASSWORD': '',
        'HOST': '', 
        'PORT': '',                   
    }
}

# Make this unique, and don't share it with anybody.
SECRET_KEY = ''
