{% extends "base.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/dashboard.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/summary.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/blue/style.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/allusers.css" type="text/css" />
{% endblock %}

{% block js %}
{{ block.super }}

<script>
  $(document).ready(function() {
    $('.activity-line').click(function(e) {
      var username = this.id.split('-')[1];
      window.location = "/accounts/user/" + username
      return false;
    });

    $("#allusers").tablesorter({
        sortList: [[0,0]],
    });

    $("#filter-button").click(function() {
      $("#filter-button").html(($("#filter-button").html() == "Show filters")? "Hide filters" : "Show filters");
      $("#filter-options").toggle("fast");
    });

    var subjects = new Array();
    var roles = new Array();

    // Add classes to activity-lines and roles-lines
    {% for participant in participants %}
      {% for membership in participant.membership.all %}
        var subjectstr = "{{membership.semester.subject}}";
        subjectstr = subjectstr.replace(".", "_");
        var rolestr = "{{membership.role}}";
        var activememberships = 0;
        {% if membership.semester.is_current_semester %}
          $("#participant-{{participant.username}}").addClass(subjectstr+"-"+rolestr+"-active");
          $("#participant-{{participant.username}} .roles-list:eq("+activememberships+")").addClass("role-"+subjectstr+"-"+rolestr+"-active");
          activememberships++;
        {% else %}
          $("#participant-{{participant.username}}").addClass(subjectstr+"-"+rolestr+"-inactive");
        {% endif %}
        if (subjects.indexOf(subjectstr) == -1) {
          subjects.push(subjectstr);
        }
        if (roles.indexOf(rolestr) == -1) {
          roles.push(rolestr);
        }
      {% endfor %}
    {% endfor %}

    $("#filter-options").html(function() {
      var str = "";
      str = str.concat("<form>");
      str = str.concat("<table>");
      str = str.concat("<thead>");
      str = str.concat("<tr>");
      str = str.concat("<td>Subject</td>");
      str = str.concat("<td>Role</td>");
      str = str.concat("</tr>");
      str = str.concat("</thead>");

      var subjectsl = subjects.length;
      var rolesl = roles.length;
      for (var i=0; i<Math.max(subjectsl, rolesl); i++) {
        str = str.concat("<tr>");
        if (i < subjectsl) {
          str = str.concat("<td><input type='checkbox' value='"+subjects[i]+"' class='subject'>"+subjects[i].replace("_",".")+"</input></td>");
        }
        else {
          str = str.concat("<td></td>");
        }
        if (i < rolesl) {
          str = str.concat("<td><input type='checkbox' value='"+roles[i]+"' class='role'>"+roles[i]+"</input></td>");
        }
        str = str.concat("</tr>");
      }
      str = str.concat("</table>");
      str = str.concat("</form>");
      return str;
    });

    var applied_filters = {"subject": [], "role": []};

    $("#filter-options input:checkbox").click(function() {
      var key = $(this).attr("class");
      var val = $(this).val();
      var index = applied_filters[key].indexOf(val);
      if (index == -1) {
        // Add val to applied_filters
        applied_filters[key].push(val);
      }
      else {
        // Remove val from applied_filters
        applied_filters[key].splice(index, 1);
      }

      if (applied_filters["subject"].length == 0 && applied_filters["role"].length == 0) {
        $(".activity-line").show();
        $(".roles-list").removeClass("filtered");
      }
      else if (applied_filters["subject"].length == 0) {
        $(".activity-line").hide();
        $(".roles-list").addClass("filtered");
        for (var s in subjects) {
          for (var r in applied_filters["role"]) {
            $("."+subjects[s]+"-"+applied_filters["role"][r]+"-active").show();
            $(".role-"+subjects[s]+"-"+applied_filters["role"][r]+"-active").removeClass("filtered");
          }
        }
      }
      else if (applied_filters["role"].length == 0) {
        $(".activity-line").hide();
        $(".roles-list").addClass("filtered");
        for (var s in applied_filters["subject"]) {
          for (var r in roles) {
            $("."+applied_filters["subject"][s]+"-"+roles[r]+"-active").show();
            $(".role-"+applied_filters["subject"][s]+"-"+roles[r]+"-active").removeClass("filtered");
          }
        }
      }
      else {
        $(".activity-line").hide();
        $(".roles-list").addClass("filtered");
        for (var s in applied_filters["subject"]) {
          for (var r in applied_filters["role"]) {
            $("."+applied_filters["subject"][s]+"-"+applied_filters["role"][r]+"-active").show();
            $(".role-"+applied_filters["subject"][s]+"-"+applied_filters["role"][r]+"-active").removeClass("filtered");
          }
        }
      }
    });

  });
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script>
{% endblock %}

{% block breadcrumbs %}
  <a class="breadcrumb first-breadcrumb" href="{% url dashboard.views.dashboard %}">Dashboard</a>
  <span class="breadcrumb">all users</span>
{% endblock %}

{% block content %}
<h2 class="task-header">all users</h2>
<button type="button" class="btn-default" id="filter-button">Hide filters</button>
<div id="filter-options">
</div>

<table id="allusers" class="assignment-stream tablesorter">
  <thead>
  <tr>
      <th> User </th>
      <th> Reputation </th>
      <th> Active Role </th>
  </tr>
  </thead>
  {% for participant in participants %}
  <tr id="participant-{{participant.username}}" class="activity-line">
    <td class="black-text">
      {{ participant.first_name }} {{ participant.last_name }}
      <span class="grey-text">({{ participant.username }})</span>
    </td>
    <td class="black-text"> {{ participant.profile.reputation }} </td>
    <td class="black-text">
      {% for membership in participant.membership.all %}
        {% if membership.semester.is_current_semester %}
          <div class="roles-list">{{ membership.semester.subject }} - {{ membership.role }}</div>
        {% endif %}
      {% endfor %}
    </td>
  </tr>
  {% empty %}
  {% endfor %}
</table>
{% endblock %}
