{% extends "base.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/dashboard.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/summary.css" type="text/css" />
{% endblock %}

{% block breadcrumbs %}
  <a class="breadcrumb first-breadcrumb" href="{% url 'review.views.dashboard' %}">Dashboard</a>
  <a class="breadcrumb" href="{% url 'accounts.views.view_profile' request.user %}">{{ request.user.username }}</a>
  <span class="breadcrumb">Edit</span>
{% endblock %}

{% block content %}

<div id="profile-container" class="span-24">
    <h2>Editing Profile</h2>
    <form enctype="multipart/form-data" id="register-form" method="post" class="form-horizontal">
        {% csrf_token %}

        {% for field in form %}

        <div class="control-group">

          <label class="control-label" for="{{ field.id }}">
            <strong>{{ field.label }}{% if field.field.required %}*{% endif %}</strong>
          </label>

          <div class="controls">
            {{ field }}
            <div class='muted'>{{ field.help_text|safe }}</div>
          </div>

        </div>

        {% for error in field.errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}

        {% endfor %}

        <button type="submit">Save</button>

    </form>
</div>
        

{% endblock %}
