{% extends "base.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/dashboard.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/submit.css" type="text/css" />
{% endblock %}

{% block js %}
{{ block.super }}
<script>
  $(document).ready(function(){
    var written_dates = [];
    {% for datetime in written_dates %}
      written_dates.push("{{ datetime|date:"l, N d, Y, P"}}");
    {% endfor %}
    var current_slack_left = {{ total_extension_days }} - {{ current_extension }};
    $("#currentdeadline").text("Your current deadline for this assignment is " + written_dates[{{ current_extension }}]);
    $("#currentslack").text("You are currently using " + {{ current_extension }} + " slack day" + (({{ current_extension }} == 1) ? "" : "s") +
      " for this deadline, and you have " + current_slack_left + " slack day" + ((current_slack_left == 1) ? "" : "s") +
      " left to use on future deadlines.");
    var possible_extensions = {{ possible_extensions }};
    for (var i=0; i<possible_extensions.length; i++) {
      $("select").append($("<option>", { value: possible_extensions[i], html: written_dates[possible_extensions[i]] }));
    }
    // Default is to add 1 more slack day.
    // If student has already requested all of their slack days, show the maximum date.
    var index = possible_extensions.indexOf({{ current_extension }});
    $("select").get(0).selectedIndex = (index == possible_extensions.length - 1) ? index : index + 1;

    $("select").change(function () {
      var index = $("select").attr("selectedIndex");
      var updated_slack_left = {{ total_extension_days }} - possible_extensions[index];
      $("#slackleft").text("After this change, you will have " + updated_slack_left + " slack day" + ((updated_slack_left == 1) ? "" : "s") +
        " left to use on future deadlines.");
    }).change();
});
</script>
{% endblock %}

{% block breadcrumbs %}
  <a class="breadcrumb first-breadcrumb" href="{% url dashboard.views.dashboard %}">Dashboard</a>
  <span class="breadcrumb">request extension</span>
{% endblock %}


{% block content %}
<div class="grey-container success">
  <div id="currentdeadline"></div>
  <div id="currentslack"></div>
  </br>
  <form id="extension-form" method="post">
  {% csrf_token %}
  You would like your new deadline to be: 
  <select name="dayselect"></select>
  </br></br>
  <div id="slackleft"></div>
  </br>
  <button type="submit">Save</button>
  <button onclick="document.location = '/dashboard';" id="cancel-button" type="button">Cancel</button>
</form>
</div>
{% endblock %}
