{% extends "base.html" %}

{% block css %}

{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/login.css" type="text/css" />

{% endblock %}

{% block content %}

<div id="login-container">
<h2>log in</h2>

<div id="standard-login-box" >
  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  <form method="post" action="{% url django.contrib.auth.views.login %}">
    {% csrf_token %}

    {{ form.username.label_tag }}
    {{ form.username }} 
    {{ form.password.label_tag }}
    {{ form.password }}

    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit">Login</button>
  </form>

  <a id="register-link" href="{% url accounts.views.register %}?next={{ next }}">Register</a>
</div>

<div id="cert-login-box">
    <form action="https://{{ request.get_host }}{{ next }}">
        <button id="cert-login-button" type="submit">Login with MIT certificates</button>
    </form>

</div>

</div>

{% endblock %}



