{% extends "base.html" %}

{% block content %}
<div id="register-container" class="span-24">
    <h2>register</h2>
    <form id="register-form" action="{% url accounts.views.register %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
          <label for="{{ field.id }}">
            {{ field.label }}{% if field.field.required %}*{% endif %}
          </label><br/>
          {{ field }} <br/>
          {{ field.help_text }}
        </p>

        {% for error in field.errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}

        {% endfor %}
        {% if invalid_invitation %}
            <p class="error">{{ invalid_invitation }}</p>
        {% endif %}
        <button type="submit">Register</button>

    </form>
</div>
{% endblock %}
