{% extends "base.html" %}

{% block content %}
<form id="register-form" action="{% url caesar.accounts.views.register %}" method="post">
  <fieldset>
    {% csrf_token %}
    <legend>Account Information</legend>
    {% for field in form %}
    <div>
      <label for="{{ field.id }}">
        {{ field.label }}{% if field.field.required %}*{% endif %}
      </label><br/>
      {{ field }} <br/>
      {{ field.help_text }}
    </div>

    {% for error in field.errors %}
    <p class="error">{{ error }}</p>
    {% endfor %}

    {% endfor %}
    <button type="submit">Register</button>
  </fieldset>

</form>

{% endblock %}
