{% extends "base.html" %}

{% block content %}
<div id="register-container" class="span-24">
    <h2>register</h2>
    <form id="register-form" method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
          <label for="{{ field.id }}">
            {{ field.label }}{% if field.field.required %}*{% endif %}
          </label><br/>
          {{ field }} <br/>
          {{ field.help_text }}
        </p>

        {% for error in field.errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}

        {% endfor %}
        {% if invalid_invitation %}
            <p class="error">Sorry, this name and email address are not found on the invitation list.  Please sign up with your @mit.edu or @alum.mit.edu address.   If that fails, send mail to <a href="mailto:caesar@csail.mit.edu">caesar@csail.mit.edu"</a> and we'll resolve the problem. </p>
        {% endif %}
        <button type="submit">Register</button>

    </form>
</div>
{% endblock %}
