{% extends "base.html" %}

{% block content %}

{% if validlink %}
<h2>enter new password</h2>
<p>
  Please enter your new password twice so we can verify you typed it correctly.
</p>
<form action="" method="post">
  {% csrf_token %}
  {% for field in form %}
  <div>
    <label for="{{ field.id }}">{{ field.label }}:</label>
    <br/>
    {{ field }}<br/>
    {{ field.help_text }}
  </div>

  {% for error in field.errors %}
  <p class="error">{{ error }}</p>
  {% endfor %}
  {% endfor %}

  <div>
    <button type="submit">Reset</button>
  </div>
 
</form>

{% else %}
<h2>password reset unsuccessful</h2>
<p>
  The password reset link was invalid, possibly because it has already been 
  used.  Please <a href="{% url django.contrib.auth.views.password_reset %}">
  request a new password reset</a>.
</p>
{% endif %}
 
{% endblock %}
