{% extends "base.html" %}
{% block css %}

{{ block.super }}


    <style type="text/css">
        
        .header {
            padding: 0px;
            text-decoration: none;
            font-size: 14pt;
        }
        
        .notcurrent {
            border:2px solid #aaa;
            padding: 2px 3px 2px 3px; 
            border-radius: 4px;
            color: #aaa;
            text-decoration: none;
        }
        
        .ui-button-text-only, .ui-button-text {
            padding:1px !important;
            width:100px !important;
            font-size:14pt !important;
            text-align:center;
        }
                
        #search {
            padding: 4px;
            border-radius:5px;
        }
        
        #wiki_article {
            font-size: 11pt;
            padding: 1em 2em 1em 1em;
            background: #eee;
            border-radius: 10px;
        }
        
        #id_contents {
            font-size: 11pt;
            box-sizing: border-box;
            width:100%;
            height:40em;
        }
        
        .sidebar {
            border:2px solid #555;
            border-radius: 10px;
            padding: 0px 5px 5px 5px; 
            font-size:12pt;
        }

        
        .active-search {
            color:#000;
        }
        
        .inactive-search {
            color:#aaa;
        }
        
        #radio {
            display:inline;
        }
    
    </style>
    
    <!-- SIMPLEWIKI DEFAULT STYLING. CLASHES WITH CAESAR STYLING SO COMMENTED OUT -->
    <!-- <link rel="stylesheet" media="screen,print" href="/static/simplewiki/css/base.css" /> -->
    <!-- <link rel="stylesheet" media="print" href="/static/simplewiki/css/base_print.css" /> -->
    <link rel="stylesheet" href="/static/simplewiki/css/autosuggest_inquisitor.css" />
    {% load i18n simplewiki_utils %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="/static/simplewiki/js/bsn.AutoSuggest_c_2.0.js"></script>
    <script type="text/javascript">
        function set_related_article_id(s) {
            document.getElementById('wiki_related_input_id').value = s.id;
            document.getElementById('wiki_related_input_submit').disabled=false;
        }
        var x = window.onload;
        window.onload = function(){
                var options = {
                script: "{% url search_related wiki_article.get_url %}/?self={{wiki_article.pk }}&",
                json: true,
                varname: "query",
                maxresults: 35,
                callback: set_related_article_id,
                noresults: "{% trans "Nothing found!" %}"
            };
            var as = new AutoSuggest('wiki_related_input', options);
            if (typeof x == 'function')
                x();
        }
    </script>
    
   <script>
	$(function() {
		$( "#radio" ).buttonset();
		default_text = "Search Wiki..."
		$("#search")
		    .val(default_text)
		    .focus(function(e) {
		        if ($(this).val() == default_text) {
		            $(this).val("");
		        }
		        $(this).removeClass("inactive-search");
		        $(this).addClass("active-search");
		    })
		    .blur(function(e) {
		        if ($(this).val() == "") {
		            $(this).val(default_text);
		            $(this).addClass("inactive-search");
		            $(this).removeClass("active-search");
		        }
		    })
	});
	</script>
{% endblock %}

{% block breadcrumbs %}
    <a class="breadcrumb first-breadcrumb" href="{% url review.views.dashboard %}">Dashboard</a>
    <a class="breadcrumb" href="/wiki/">Wiki</a>
    {% if wiki_article.slug %}
        <a class="breadcrumb" href="/wiki/{{wiki_article.slug}}/">{{wiki_article.slug}}</a>
    {% endif %}
{% endblock %}

{% block content %}

    <br>
    <table><tr>
    <td style="vertical-align:middle"><h1 style="display:inline">
    {% block title %}
    {% endblock %}
    </h1></td>
    <td style="text-align:right; vertical-align:middle">
        {% block navigate %}
        {% endblock %}
    </td>
    <td width="10%">
    <form style="display:inline" method="POST" action='{% url wiki_search_articles wiki_article.get_url %}'>{% csrf_token %}
        <input name="value" id="search" class="header inactive-search"></input>
    </form>
    </td></tr></table>
    <hr />
    
    {% block wiki_body %}
    {% endblock %}
 
{% endblock %}
