{% extends "simplewiki/simplewiki_base.html" %}
{% load i18n simplewiki_utils %}
{% block wiki_page_title %}
    {% if wiki_search_query %}
        {% trans "Search results for" %} '{{ wiki_search_query|escape }}'
    {% else %}
        {% trans "Displaying all articles" %}
    {% endif %}
{% endblock %}

{% block wiki_body %}
    <h1>Search results for "{{ wiki_search_query }}"</h1>
    <hr />
    {% for article in wiki_search_results %}
            <h4><a href="{% url wiki_view article.get_url %}">#{{ article.slug }}</a></h4>
    {% empty %}
        {% trans "No articles were found!" %}
    {% endfor %}
{% endblock %}
