{% extends "simplewiki/simplewiki_base.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/dashboard.css" type="text/css" />
{% endblock %}

{% block breadcrumbs %}
  <a class="breadcrumb first-breadcrumb" href="{% url review.views.dashboard %}">Dashboard</a>
  <span class="breadcrumb">Wiki</span>
{% endblock %}

{% block content %}
<hr />
<h1>All Articles</h1>
<hr />
{% for article in articles %}
    <h4><a href="{{article.slug}}">{{article.title}}</a></h4>
{% endfor %}
{% endblock %}