
{% extends "simplewiki/simplewiki_base.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/dashboard.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/summary.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/screen.css" type="text/css" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
    $(function() {
        // link comments
        $('.activity-line').click(function(e) {
          var activityType = this.id.split('-')[0];
          var comment_Id = this.id.split('-')[1];
          var chunk_Id = this.id.split('-')[2];
          window.location = "/chunks/view/" + chunk_Id + "#" + activityType + "-" + comment_Id;
          return false;
        });
        // link hashtags
        $("#wiki_article")[0].innerHTML = link_hashtags($("#wiki_article")[0].innerHTML, false);
    });
    </script>
{% endblock %}

{% block title %}
    #{{ wiki_article.slug }} 
{% endblock %}

{% block navigate %}
<div id="radio" class="ui-buttonset">
                <input onclick="window.location='{% url wiki_view wiki_article.get_url %}'" type="radio" {% if view == 'read' %}checked="checked"{% endif %}id="radio1" name="radio" class="header ui-helper-hidden-accessible"><label for="radio1" class="header ui-button ui-widget ui-state-default ui-button-text-only ui-corner-left"  role="button"><span class="ui-button-text">Read</span></label>
                <input onclick="window.location='{% url wiki_edit wiki_article.get_url %}'" type="radio" {% if view == 'edit' %}checked="checked"{% endif %} id="radio2" name="radio" class="header ui-helper-hidden-accessible"><label for="radio2" class="header ui-button ui-widget ui-state-default ui-button-text-only"                 role="button" aria-disabled="false"><span class="ui-button-text">Edit</span></label>
                <input onclick="window.location='{% url wiki_history wiki_article.get_url 1 %}'" type="radio" {% if view == 'history' %}checked="checked"{% endif %} id="radio3" name="radio" class="header ui-helper-hidden-accessible"><label for="radio3" class="header ui-button ui-widget ui-state-default ui-button-text-only ui-corner-right" role="button" aria-disabled="false"><span class="ui-button-text">History</span></label>
            </div>
{% endblock %}

{% load i18n simplewiki_utils %}
{% block wiki_body %}
    
    <!-- CONTENTS -->
    <table>
    <td width="72%" style="vertical-align:top; padding:0 1em 0 0;">
    <div id="wiki_article">
        {{ wiki_article.current_revision.contents_parsed|safe }}
    </div>
    </td>

    <!-- SIDEBAR -->
    <td style="vertical-align:top">
        <table class="sidebar">
        <td>
        Wiki page edited by 
        {% for contributor in contributors %}
            <a href="/review/user/{{ contributor.username }}">{{ contributor.username }}</a>{% if not forloop.last %},{% endif %} 
        {% endfor %}
        <hr>
        {% if num_student_uses_semester == 0 %}
            <!-- Has not been used this semester -->
            No students have used #{{ wiki_article.slug }} in a comment this semester
        {% else %}
            <!-- Has been used this semester. -->
            This hashtag has been <a href='#examples'>used {{num_student_uses_semester}} times</a> this semester
        {% endif%}
        {% if num_uses_total == 0 %}
            (This hashtag has never been used before this semester either).
        {% else %}
            ({{num_uses_total}} times over all semesters).
        {% endif %}  
        {% if num_checkstyle_uses_semester != 0 %}
            <hr>
            Used {{num_checkstyle_uses_semester}} times by checkstyle this semester.
        {% endif %}
        </td>
        </table>
        
        </td>
        </table>
    </td>
    </tr>
    </table>
    <!-- LAST MODIFIED -->
    {% if wiki_article %} 
        {% if wiki_article.locked %}
            <p><strong>{% trans "This article has been locked" %}</strong></p>
        {% endif %}
        <p><i>{% trans "Last modified" %}: {{ wiki_article.modified_on|date }}, {{ wiki_article.modified_on|time }}</i></p>
    {% endif %}
    
    <!-- EXAMPLES -->
    
    <hr />
    <h1 id="examples">Examples This Semester</h1>
    
    <table class="assignment-stream">
    {% for type, comment, snippet, is_vote, vote in review_data %}
        <tr id="{% if is_vote %}{% if vote.value == 1 %}voteup-{{comment.id}}-{{comment.chunk.id}}
                              {% else %}votedown-{{comment.id}}-{{comment.chunk.id}}
                              {% endif %}
              {% else %}comment-{{comment.id}}-{{comment.chunk.id}}
              {% endif %}" class="{%if not user.profile.is_student %}activity-line{%else%}non-activity-line{%endif%}">
        
        <td><span class="type" id="{{type}}" title="{{type}}"></span></td>
        
        {% if comment.upvote_count == 0 and comment.downvote_count == 0 or is_vote %}
            <td colspan="2" class="{% if is_vote %}grey-text{% else %}black-text{% endif %}"> {{ snippet }} </td>
        {% else %}
            <td>{% if comment.upvote_count > 0 %}<span class="positive-votes">+{{comment.upvote_count}}</span>{% endif %}{% if comment.upvote_count > 0 and comment.downvote_count > 0 %}/{% endif %}{% if comment.downvote_count > 0 %}<span class="negative-votes">-{{comment.downvote_count}}</span>{% endif %}</td>
            <td class="{% if is_vote %}grey-text{% else %}black-text{% endif %} "> {{ snippet }} </td>
        {% endif %}
        <td class="grey-text" style="width: 10em !important;"> {{ comment.author }} </td>
        <td class="grey-text"> {{ comment.chunk.name }} </td>
        <td class="grey-text"> {{ comment.modified }} </td>
        
        </tr>
        {% empty %}
    {% endfor %}
    {% if review_data|length == 0 %}
        <h4><i>No examples found.</i></h4>
    {% endif %}
    </table>
    
{% endblock %}
