{% extends "base.html" %}
{% block css %}
{{ block.super}}

{% load i18n simplewiki_utils %}

    <!-- SIMPLEWIKI DEFAULT STYLING. CLASHES WITH CAESAR STYLING SO COMMENTED OUT -->
    <!-- <link rel="stylesheet" media="screen,print" href="/static/simplewiki/css/base.css" /> -->
    <!-- <link rel="stylesheet" media="print" href="/static/simplewiki/css/base_print.css" /> -->
    <style type="text/css">
        .ui-button .ui-icon-edit {
            background-image: url('/static/img/pencil-small.png');
            width: 16px;
            height: 16px;
        }

    </style>
    <link rel="stylesheet" href="/static/simplewiki/css/autosuggest_inquisitor.css" />

    <script type="text/javascript" src="/static/simplewiki/js/bsn.AutoSuggest_c_2.0.js"></script>
    <script type="text/javascript">
        function set_related_article_id(s) {
            document.getElementById('wiki_related_input_id').value = s.id;
            document.getElementById('wiki_related_input_submit').disabled=false;
        }
        var x = window.onload;
        window.onload = function(){
                var options = {
                script: "{% url search_related wiki_article.get_url %}/?self={{wiki_article.pk }}&",
                json: true,
                varname: "query",
                maxresults: 35,
                callback: set_related_article_id,
                noresults: "{% trans "Nothing found!" %}"
            };
            var as = new AutoSuggest('wiki_related_input', options);
            if (typeof x == 'function')
                x();
        }
    </script>
{% endblock %}

{% block breadcrumbs %}
    <a class="breadcrumb first-breadcrumb" href="{% url review.views.dashboard %}">Dashboard</a>
    <a class="breadcrumb" href="/wiki/">Wiki</a>
    {% if wiki_article.slug %}
        <a class="breadcrumb" href="/wiki/{{wiki_article.slug}}/">{{wiki_article.title}}</a>
    {% endif %}
{% endblock %}

{% block content %}
  
    <!-- Title -->
    <br>
    {% if wiki_article %}
        <h1> {{ wiki_article.title }} </h1>
        <h3><i>#{{ wiki_article.slug }} </i> </h3>
        <hr />
    {% else %}
        {% if wiki_form %}
        <h1> New Article for #{{wiki_form.title.value}}</h1>
        <hr />
        {% endif %}
    {% endif %}  
    {% block wiki_body %}
    {% endblock %}
 
{% endblock %}
