{% extends "simplewiki/simplewiki_base.html" %}
{% load i18n simplewiki_utils %}
{% block wiki_page_title %}
	{{wiki_article.title}}
{% endblock %}

{% block wiki_body %}
<form method="POST" id="wiki_revision">{% csrf_token %}
	
	{{wiki_form.contents}}
	<input style="visibility:hidden" id="id_revision_text" type="text" name="revision_text">
	<br>
	<input type="submit" value="Save" /></td>
	<!-- DEFAULT
	<table id="wiki_revision_table">
	{{ wiki_form }}
	<tr>
		<td colspan="2" align="right">
			<input type="submit" value="{% trans "Submit Changes" %}" /></td>
	</tr>
	</table>
	-->
</form>
{% endblock %}
