
{% extends "simplewiki/simplewiki_base.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/dashboard.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/summary.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/screen.css" type="text/css" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
    $(function() {
        // link comments
        $('.activity-line').click(function(e) {
          var activityType = this.id.split('-')[0];
          var comment_Id = this.id.split('-')[1];
          var chunk_Id = this.id.split('-')[2];
          window.location = "/chunks/view/" + chunk_Id + "#" + activityType + "-" + comment_Id;
          return false;
        });
        // link hashtags
        $("#wiki_article")[0].innerHTML = link_hashtags($("#wiki_article")[0].innerHTML, false);
    });
    </script>
{% endblock %}

{% load i18n simplewiki_utils %}
{% block wiki_body %}
    
    <!-- View/Edit/History/Search Bar. Need to put functionality somewhere else. -->
    <!--
    <a href="javascript:location.href='{% url wiki_view wiki_article.get_url %}'">VIEW</a> 
    <a href="javascript:location.href='{% url wiki_edit wiki_article.get_url %}'">EDIT</a> 
    <a href="javascript:location.href='{% url wiki_history wiki_article.get_url 1 %}'">HISTORY</a>
    <span style="float:right; padding: 0px 0px 10px 0px">
        <form method="POST" action='{% url wiki_search_articles wiki_article.get_url %}'>{% csrf_token %}
            <b>Search:</b>
            <input type="text" name="value" id="wiki_search_input" value="{{wiki_search_query|escape}}"/>
            <input type="submit" id="wiki_search_input_submit" value={% trans "Go!" %} />
        </form>
    </span>
    -->

    
    <!-- CONTENTS -->
    <table>
    <td width="72%" style="vertical-align:top; padding:0 1em 0 0;">
    <div id="wiki_article">
        {{ wiki_article.current_revision.contents_parsed|safe }}
    </div>
    </td>

    <!-- SIDEBAR -->
    <td style="vertical-align:top">
        <table class="sidebar">
        <td>
        Wiki page by <a>AAA</a>, <a>BBB</a> and <a>CCC</a>.
        <br>
        Used X times this semester (y all time).
        <br>
        by <a>DDD</a>, <a>EEE</a> and <a>YYY</a>.
        <br>
        <a href='#examples'>See Examples</a>
        </td>
        </table>
        
        </td>
        </table>
    </td>
    </tr>
    </table>
    <!-- LAST MODIFIED -->
    {% if wiki_article %} 
        {% if wiki_article.locked %}
            <p><strong>{% trans "This article has been locked" %}</strong></p>
        {% endif %}
        <p><i>{% trans "Last modified" %}: {{ wiki_article.modified_on|date }}, {{ wiki_article.modified_on|time }}</i></p>
    {% endif %}
    
    <!-- EXAMPLES -->
    
    <hr />
    <h1 id="examples">Examples</h1>
    
    <table class="assignment-stream">
    {% for type, comment, snippet, is_vote, vote in review_data %}
        <tr id="{% if is_vote %}{% if vote.value == 1 %}voteup-{{comment.id}}-{{comment.chunk.id}}
                              {% else %}votedown-{{comment.id}}-{{comment.chunk.id}}
                              {% endif %}
              {% else %}comment-{{comment.id}}-{{comment.chunk.id}}
              {% endif %}" class="{%if not user.profile.is_student %}activity-line{%else%}non-activity-line{%endif%}">
        
        <td><span class="type" id="{{type}}" title="{{type}}"></span></td>
        
        {% if comment.upvote_count == 0 and comment.downvote_count == 0 or is_vote %}
            <td colspan="2" class="{% if is_vote %}grey-text{% else %}black-text{% endif %}"> {{ snippet }} </td>
        {% else %}
            <td>{% if comment.upvote_count > 0 %}<span class="positive-votes">+{{comment.upvote_count}}</span>{% endif %}{% if comment.upvote_count > 0 and comment.downvote_count > 0 %}/{% endif %}{% if comment.downvote_count > 0 %}<span class="negative-votes">-{{comment.downvote_count}}</span>{% endif %}</td>
            <td class="{% if is_vote %}grey-text{% else %}black-text{% endif %} "> {{ snippet }} </td>
        {% endif %}
        
        <td class="grey-text"> {{ comment.chunk.name }} </td>
        <td class="grey-text"> {{ comment.modified }} </td>
        
        </tr>
        {% empty %}
    {% endfor %}
    {% if review_data|length == 0 %}
        <h4><i>No examples found.</i></h4>
    {% endif %}
    </table>
    
    
{% endblock %}
