{% extends "simplewiki/simplewiki_base.html" %}
{% load i18n simplewiki_utils %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        $(function() {
            $("#id_contents")
                .attr("rows", "100")
                .change(function(e) {
                    window.onbeforeunload = function() {
                        return "You have made changes!";
                    }
                })
                .val(function(index, value) {
                   return value.replace(/\\#/gi, "#");
                });
            $("#save")
                .button()
                .click(function(e) {
                    window.onbeforeunload = null;
                    $("#id_contents")
                        .val(function(index, value) {
                            return value.replace(/#/ig, "\\#");
                        });
                });
            $("#cancel")
                .button()
                .click(function() {
                    window.location='{% url "wiki_view" wiki_article.get_url %}';
                });
        });
    </script>

{% endblock %}

{% block title %}
    #{{ wiki_article.slug }} 
{% endblock %}

{% block navigate %}
<div id="radio" class="ui-buttonset">
    <input onclick="window.location='{% url "wiki_view" wiki_article.get_url %}'" type="radio" id="radio1" name="radio" class="header ui-helper-hidden-accessible"><label for="radio1" class="header ui-button ui-widget ui-state-default ui-button-text-only ui-corner-left"  role="button"><span class="ui-button-text">Read</span></label>
    <input onclick="window.location='{% url "wiki_edit" wiki_article.get_url %}'" type="radio" checked="checked" id="radio2" name="radio" class="header ui-helper-hidden-accessible"><label for="radio2" class="header ui-button ui-widget ui-state-default ui-button-text-only"                 role="button" aria-disabled="false"><span class="ui-button-text">Edit</span></label>
    <input onclick="window.location='{% url "wiki_history" wiki_article.get_url 1 %}'" type="radio" id="radio3" name="radio" class="header ui-helper-hidden-accessible"><label for="radio3" class="header ui-button ui-widget ui-state-default ui-button-text-only ui-corner-right" role="button" aria-disabled="false"><span class="ui-button-text">History</span></label>
</div>
{% endblock %}

{% block wiki_body %}
<form method="POST" id="wiki_revision">{% csrf_token %}
	
	{{wiki_form.contents}}
	<input style="visibility:hidden" id="id_revision_text" type="text" name="revision_text">
	<br>
	<input type="submit" id="save" value="Save" />
	<input type="button" id="cancel" value="Cancel" />
	<!-- DEFAULT
	<table id="wiki_revision_table">
	{{ wiki_form }}
	<tr>
		<td colspan="2" align="right">
			<input type="submit" value="{% trans "Submit Changes" %}" /></td>
	</tr>
	</table>
	-->
</form>
{% endblock %}
