{% extends "base.html" %}
{% block css %}
{{ block.super}}

{% load i18n simplewiki_utils %}

    <!-- SIMPLEWIKI DEFAULT STYLING. CLASHES WITH CAESAR STYLING SO COMMENTED OUT -->
    <!-- <link rel="stylesheet" media="screen,print" href="/static/simplewiki/css/base.css" /> -->
    <!-- <link rel="stylesheet" media="print" href="/static/simplewiki/css/base_print.css" /> -->
    <style type="text/css">
        .ui-button .ui-icon-edit {
            background-image: url('/static/img/pencil-small.png');
            width: 16px;
            height: 16px;
        }

    </style>
    <link rel="stylesheet" href="/static/simplewiki/css/autosuggest_inquisitor.css" />

    <script type="text/javascript" src="/static/simplewiki/js/bsn.AutoSuggest_c_2.0.js"></script>
    <script type="text/javascript">
        function set_related_article_id(s) {
            document.getElementById('wiki_related_input_id').value = s.id;
            document.getElementById('wiki_related_input_submit').disabled=false;
        }
        var x = window.onload;
        window.onload = function(){
                var options = {
                script: "{% url search_related wiki_article.get_url %}/?self={{wiki_article.pk }}&",
                json: true,
                varname: "query",
                maxresults: 35,
                callback: set_related_article_id,
                noresults: "{% trans "Nothing found!" %}"
            };
            var as = new AutoSuggest('wiki_related_input', options);
            if (typeof x == 'function')
                x();
        }
    </script>
{% endblock %}

{% block breadcrumbs %}
    <a class="breadcrumb first-breadcrumb" href="{% url review.views.dashboard %}">Dashboard</a>
    <a class="breadcrumb" href="/wiki/">Wiki</a>
    <span class="breadcrumb">{{wiki_article.slug}}</span>
{% endblock %}

{% block content %}
    
    <br> <!-- for spacing against caesar bar across the top -->
    
    <!-- View/Edit/History/Search Bar. Need to put functionality somewhere else. -->
    <!--
    <a href="javascript:location.href='{% url wiki_view wiki_article.get_url %}'">VIEW</a> 
    <a href="javascript:location.href='{% url wiki_edit wiki_article.get_url %}'">EDIT</a> 
    <a href="javascript:location.href='{% url wiki_history wiki_article.get_url 1 %}'">HISTORY</a>
    <span style="float:right; padding: 0px 0px 10px 0px">
        <form method="POST" action='{% url wiki_search_articles wiki_article.get_url %}'>{% csrf_token %}
            <b>Search:</b>
            <input type="text" name="value" id="wiki_search_input" value="{{wiki_search_query|escape}}"/>
            <input type="submit" id="wiki_search_input_submit" value={% trans "Go!" %} />
        </form>
    </span>
    -->
    
    <!-- TITLE AND SLUG -->
    <h1>{% block wiki_page_title %}{% endblock %}</h1>
    <h3><i>#{{ wiki_article.slug }}</i></h3>
    <hr />

    <table>
    
    <!-- CONTENTS -->
    <tr>
    <td width="70%" style="vertical-align:top">
    {% block wiki_body %}
    {% endblock %}
        <!-- TODO: Use Buttons. These images are just place holders or now -->
        <div align="center">
            <image title="Edit" onclick="location.href='{% url wiki_edit wiki_article.get_url %}'"src="/static/img/pencil-small.png">
            <image title="History" onclick="location.href='{% url wiki_history wiki_article.get_url 1 %}'" src="/static/img/history-small.png">
        </div>
        
    </td>

    <!-- In Progress Attempt at Buttons
    <button onclick="location.href='{% url wiki_edit wiki_article.get_url %}'" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" type="button" role="button" aria-disabled="false" title="Edit"><span class="ui-button-icon-primary ui-icon ui-icon-edit"></span><span class="ui-button-text">Edit</span></button>
    <button onclick="location.href='{% url wiki_history wiki_article.get_url 1 %}'" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" type="button" role="button" aria-disabled="false" title="Edit"><span class="ui-button-icon-primary ui-icon ui-icon-edit"></span><span class="ui-button-text">Edit</span></button>
    -->

    <!-- SIDEBAR -->
    <td style="vertical-align:top" border="1">
        <table border="1"><tr><td>
            <h2>Examples from Caesar </h2>
            <ul>
            <li>Example #1</li>
            <li>Example #2</li>
            </ul>
            <br>
            <h2>Related Articles</h2>
            <ul>
            <li>Bad Code</li>
            </ul>   
        </td></tr></table>
        
    </td>
    </tr>
    </table>
    
    <!-- FOOTER -->
    <hr />
    {% if wiki_article %} 
        {% if wiki_article.locked %}
            <p><strong>{% trans "This article has been locked" %}</strong></p>
        {% endif %}
        <p><i>{% trans "Last modified" %}: {{ wiki_article.modified_on|date }}, {{ wiki_article.modified_on|time }}</i></p>
    {% endif %}
 
{% endblock %}
