{% extends "simplewiki/simplewiki_base.html" %}
{% load i18n simplewiki_utils %}
{% block wiki_page_title %}
    {% if wiki_search_query %}
        {% trans "Search results for" %} '{{ wiki_search_query|escape }}'
    {% else %}
        {% trans "Displaying all articles" %}
    {% endif %}
{% endblock %}

{% block title %}
    Search results for "{{ wiki_search_query }}"
{% endblock %}

{% block wiki_body %}
    {% for article, before, after in results_data %}
            <h4>
            <a href="{% url 'wiki_view' article.get_url %}">#{{ article.slug }}</a>
            : ...{{ before }}<b>{{ wiki_search_query }}</b>{{ after }}...</h4>
    {% empty %}
        No articles were found matching "{{wiki_search_query}}".
    {% endfor %}
{% endblock %}
