{% extends "base.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/dashboard.css" type="text/css" />
{% endblock %}

{% block content %}
<style type="text/css">

	a.hashtag-1 {
		color:green;
		onclick:return false;
	}
	
	a.hashtag-2 {
		color:red;
		onclick:return false;
	}
	
</style>

<link rel="stylesheet" href="/static/css/comments.css" type="text/css" />
<link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" />

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script type="text/javascript">	

hashtags = {}
{% for k, v in hashtags.items %}
    hashtags["{{k}}"] = "{{v}}";
{% endfor %}

updatePreview = function(e) {
    var unicode=e.keyCode? e.keyCode : e.charCode;
    alert(unicode);
};

genCommentPreview = function(text) {
	output = text;
	
	// link all recognized hashtags
	for (k in hashtags) {
		var r = new RegExp('(\#' + k + ')([^a-zA-Z]|$)', 'gi');
		output = output.replace(r, '<a class="hashtag-1" href="' + hashtags[k] +'">$1</a>$2');
	}
	
	output = output.replace(/\#important(\W|$)/gi, '<span class="hashtag-important">#important</span>$1');
	
	// mark unlinked hashtags as red
	output = output.replace(/(^|[^\>])(\#\w+)/gi, '$1<a class="hashtag-2">$2</a>');
	
	return output;
};
// do it onload
//$(function() {
//    updatePreview($('#comment_input')[0].value);
//});
</script>
</head>
<body>
    Testing live preview
    <hr>
	<div class='span-6'>
        <div class="comment comment-reply new-reply">
          <div class="reply-form">
            <form id="edit-comment-form" action="/review/edit_comment/" method="post">
              <div style="display:none"><input type="hidden" name="csrfmiddlewaretoken" value="75cbce1c1ee9d13af1b8a1d6f5c5fcc6"></div>
              <textarea id="id_text" rows="5" cols="10" name="text" onkeyup="updatePreview(event)"></textarea>
              <input type="hidden" name="comment_id" value="165952" id="id_comment_id">
              <button type="submit">Save</button>
              <button id="cancel-reply-button" type="button">Cancel</button>
            </form>
          </div>
        </div>
</div>
</body>
{% endblock %}
