{% extends "base.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/dashboard.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/summary.css" type="text/css" />
{% endblock %}

{% block js %}
{{ block.super }}

<script>
$(document).ready(function() {

    $('.activity-line').click(function(e) {
      var username = this.id.split('-')[1];

      return false;
    });

});
</script>

{% endblock %}

{% block breadcrumbs %}
  <a class="breadcrumb first-breadcrumb" href="{% url review.views.dashboard %}">Dashboard</a>
{% endblock %}


{% block content %}

<h2 class="task-header">all users</h2>
<div class="task-list">
  {% for user in users %}
  <div id="user-{{user.username}}" class="activity-line">
    <span class="comment-snippet" title="Comments">
        {{ user.username }}
    </span>
    <span class="chunk-name" title="Task">
        {{ user.profile.reputation }}
    </span>
    <span class="last-modified" title="Modified">
        {{ user.profile.role }}
    </span>
  </div>
  {% empty %}
    No comments found.
  {% endfor %}
</div>
{% endblock %}
