{% extends "base.html" %}


{% block css %}
{{ block.super }}

<link rel="stylesheet" href="{{ STATIC_URL }}css/chunks.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/comments.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/syntax.css" type="text/css" />

{% if full_view %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/fullchunks.css" type="text/css" />
{% endif %}

{% endblock %}


{% block js %}

{{ block.super }}

<script type="text/javascript" charset="utf-8">
    caesar.state = {
        fullView: {% if full_view %}true{% else %}false{% endif %}
    };
</script>

<script type="text/javascript" src="{{ STATIC_URL }}js/chunk.js?v=1"></script>

<script type="text/javascript" charset="utf-8">

$(document).ready(function() {
    var fileSystemText = {
        visible: 'Hide Files', 
        hidden: 'Show Files' 
    };
    var fileState = 'visible';

    if (fileState === 'visible') {
        $('#filesystem-text').show();
    } else {
        $('#filesystem-text').hide();
    }
    $('#file-action')
            .text(fileSystemText[fileState]);

    $('#file-action').click(function() {
        if (fileState === 'visible') {
            $('#filesystem-text').hide();
            fileState = 'hidden';
        } else {
            $('#filesystem-text').show();
            fileState = 'visible';
        }
        $(this).text(fileSystemText[fileState]);
    });

});
</script>
{% endblock %}




{% block breadcrumbs %}
  <a class="breadcrumb first-breadcrumb" href="{% url 'review.views.dashboard' %}">Dashboard</a>
  {% if participant != user %}
    <a class="breadcrumb" href="{% url 'accounts.views.allusers' %}">all users</a>
  {% endif %}
  <a class="breadcrumb" href="{% url 'accounts.views.view_profile' participant.username %}">{{participant.username}}</a>
  <span class="breadcrumb">all activity</span>
{% endblock %}

{% block secondary-toolbar %}
{% endblock %}

{% block content %}

{% for chunk, highlighted_lines, comment_data, file in review_milestone_data%}
<h2 class="file-name-display">
<A NAME="{{chunk.name}}"></A> {{ chunk.name }}
</h2>

<table>
<tr>   
<td id="code-table-display">
<div id="comment-display" class="span-6">
    <div id="comment-display-inner" class="file-{{file.id}} files">
        {% for comment, highlight_comment, vote in comment_data %}
            {% include "review/comment.html" %} 
        {% empty %}
        {% endfor %}
    </div>
</div>
</td>
<td id="code-table-display">
    <div id="chunk-display" class="span-18 last">
        <div id="chunk-{{chunk.id}}-display" class="syntax">
        {% for n, line, staff_code in highlighted_lines %}
        {% if not staff_code %}
          <span id="chunk-{{chunk.id}}-line-{{ n }}" class="chunk-line chunk-line-student">
            <span id="line-{{chunk.id}}-{{ n }}-{{file.id}}" class="line">
              <span class="line-number">{{ n }}</span><pre class="line-code">{{ line|safe }}</pre>
            </span>
          </span>
          {% else %}
          <span id="chunk-{{chunk.id}}-line-{{ n }}" class="chunk-line chunk-line-staff">
            <span id="line-{{chunk.id}}-{{ n }}-{{file.id}}" class="line">
              <span class="line-number">{{ n }}</span><pre class="line-code">{{ line|safe }}</pre>
            </span>
          </span>
          {% endif %}
        {% endfor %}
        </div>
    </div>
</td></tr>
</table>
{% empty %}
{% endfor %}

{% endblock %}

