{% extends "base.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/dashboard.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/summary.css" type="text/css" />
{% endblock %}

{% block js %}
{{ block.super }}

<script>
$(document).ready(function() {

    $('.activity-line').click(function(e) {
      var username = this.id.split('-')[1];
      window.location = "/review/user/" + username
      return false;
    });

});
</script>

{% endblock %}

{% block breadcrumbs %}
  <a class="breadcrumb first-breadcrumb" href="{% url review.views.dashboard %}">Dashboard</a>
{% endblock %}


{% block content %}
<h2 class="task-header">all users</h2>
<table>
  {% for participant in participants %}
  <tr id="participant-{{participant.username}}" class="activity-line">
    <td class="black-text"> {{ participant.username }} </td>
    <td class="grey-text"> {{ participant.profile.reputation }} </td>
    <td class="grey-text"> [{{ participant.profile.role }}] </td>
  </tr>
  {% empty %}
  {% endfor %}
</table>
{% endblock %}
