<div id="secondary-toolbar-inner">
  <div id="instructions-text">
    <p>Welcome to Caesar, the 6.005 code reviewing system.
    Please read the <a 
href="https://stellar.mit.edu/S/course/6/fa11/6.005/courseMaterial/topics/topic1/resource/text/text">code 
reviewing instructions</a> on Stellar if you haven't already.</p>
    <p>The problem set being reviewed now is <a href="http://web.mit.edu/6.005/www/fa11/psets/ps7/ps7.html"> Jotto Client GUI. </a> The gray lines who student-authored code; white lines were provided by staff. </p>
  </div>
</div>