{% extends "base.html" %}

{% block extrahead %}

<link rel="stylesheet" href="{{ STATIC_URL }}css/dashboard.css" type="text/css" />

<script>
$(document).ready(function() {

    $('.task-line').click(function(e) {
      var chunkId = this.id.split('-')[2];
      window.location = "/chunks/view/" + chunkId;
      return false;
    });

    var toggleInstructionsText = [ 'Hide instructions', 'Show instructions' ];
    var textIndex = 0;
    $('#toggle-instructions-button').click(function() {
        $('#instructions-text').toggle(400);
        textIndex = 1 - textIndex;
        $(this).text(toggleInstructionsText[textIndex]);
    });

});
</script>

{% endblock %}

{% block breadcrumbs %}
  <a class="breadcrumb first-breadcrumb" href="{% url review.views.dashboard %}">Dashboard</a>
{% endblock %}

{% block instructions %}
<div id="instructions-text">
    <p>Welcome to Caesar, a tool for crowd-sourcing code review in the 
    classroom. Rather than the traditional model of code review where reviewers
    look at a commit at a time, the system divides entire code submissions into
    individual functions and assigns them for review.</p>
    <p>We are asking that you review 5 functions, and then complete a 
    <a href="https://spreadsheets.google.com/spreadsheet/viewform?formkey=dGNyMlRVTGNTbXFZazA5bDRPd25sZFE6MQ" target="_blank">short
        feedback survey</a> about the tool.</p>
    <p class="bottom">Please start reviewing code by clicking one of the functions below.</p>
</div>
{% endblock %}

{% block content %}

<div class="span-24">
{% if new_task_count > 0 %}
<div class="success">
  You have {{ new_task_count }} new review task{{ new_task_count|pluralize }}.
</div>
{% endif %}
<h2 class="task-header">to review</h2>
<div class="task-list">
  {% for task in active_tasks.all %}
    {% include "review/task.html" %}
  {% empty %}
  No functions left. If you haven't already, please fill out our <a href="https://spreadsheets.google.com/spreadsheet/viewform?formkey=dGNyMlRVTGNTbXFZazA5bDRPd25sZFE6MQ" target="_blank">feedback survey</a>.
  {% endfor %}
</div>

<h2 class="task-header">recently reviewed</h2>
<div class="task-list">
  {% for task in completed_tasks.all %}
    {% include "review/task.html" %}
  {% empty %}
  No tasks found
  {% endfor %}
</div>


</div>
{% endblock %}
