{% extends "base.html" %}

{% block extrahead %}

<link rel="stylesheet" href="{{ STATIC_URL }}css/dashboard.css" type="text/css" />

<script>
$(document).ready(function() {

    $('.task-line').click(function(e) {
      var chunkId = this.id.split('-')[2];
      window.location = "/chunks/view/" + chunkId;
      return false;
    });

});
</script>

{% endblock %}

{% block breadcrumbs %}
  <a class="breadcrumb first-breadcrumb" href="{% url review.views.dashboard %}">Dashboard</a>
{% endblock %}

{% block content %}

<div class="span-24">
{% if new_task_count > 0 %}
<div class="info">
  You have {{ new_task_count }} new review task{{ new_task_count|pluralize }}.
</div>
{% endif %}
<h2 class="task-header">to review</h2>
<div class="task-list">
  {% for task in active_tasks.all %}
    {% include "review/task.html" %}
  {% empty %}
  No tasks found
  {% endfor %}
</div>

<h2 class="task-header">recently reviewed</h2>
<div class="task-list">
  {% for task in completed_tasks.all %}
    {% include "review/task.html" %}
  {% empty %}
  No tasks found
  {% endfor %}
</div>


</div>
{% endblock %}
