<div id="secondary-toolbar-inner">
  <div id="instructions-text">
    <p>Welcome to Caesar, the 6.005 code reviewing system.
    Please read the <a 
href="https://stellar.mit.edu/S/course/6/fa11/6.005/courseMaterial/topics/topic1/resource/text/text">code 
reviewing instructions</a> on Stellar if you haven't already.</p>
    <p>The problem set being reviewed now is <a href="http://web.mit.edu/6.005/www/fa11/psets/ps4/ps4.html"> PS4: Building a Sudoku Solver with SAT. </a> Please only focus on the code with the gray background -- that is student code. White background represents staff code. </p>
  </div>
</div>