<script type="text/javascript">

$(document).ready(function() {

  var targetClass;
  var similarCommentsClass;
  {% if reply %}
  targetClass = "new-reply";
  similarCommentsClass = "similar-reply";
  {% else %}
  targetClass = "new-comment";
  similarCommentsClass = "similar-comment";
  {% endif %}

  // Remove all similar-comment divs whenever the user closes a new comment entry box.
  $("."+targetClass).on("remove", function() {
    $("."+similarCommentsClass).remove();
    $("#similar-comments-wrapper").remove();
  });

  $("#textentry").keypress(function(event) {
    // Keys
    // 13  carriage return
    // 32  space
    var keys = [13, 32];
    if (keys.indexOf(event.which) != -1) {
      commentSearch.search($("#textentry").val(), targetClass, similarCommentsClass);
    }

  });
});

</script>

{% if not reply %}
<div class="comment new-comment" title="Edit a comment">
  <div class="comment-header">
    <span class="comment-line-numbers">
    {{ start }}
    {% if end != start %} - {{ end }}
    {% endif %}
    </span>
    <span class="comment-snippet">
    {{ snippet }}
    </span>
  </div>
  <div class="comment-form">
    <form id="edit-comment-form" 
      action="{% url 'review.views.edit_comment' %}" method="post">
      {% csrf_token %}
      {{ form.text }}
      {{ form.comment_id }}
      <button type="submit">Save</button>
      <button id="cancel-button" type="button">Cancel</button>
    </form>
  </div>
</div>
{% else %}
<div class="comment comment-reply new-reply">
  <div class="reply-form">
    <form id="edit-comment-form"
      action="{% url 'review.views.edit_comment' %}" method="post">
      {% csrf_token %}
      {{ form.text }}
      {{ form.comment_id }}
      <button type="submit">Save</button>
      <button id="cancel-reply-button" type="button">Cancel</button>
    </form>
  </div>
</div>
{% endif %}
<div id='similar-comments-wrapper'></div>