{% extends "base.html" %}
{% block css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/chunks.css" type="text/css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/dashboard.css" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/list_users.css" type="text/css" />
  {{ block.super }}
{% endblock %}
{% block js %}
  {{ block.super }}
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
{% endblock %}
{% block content %}
  <!-- <form action='../simulate' method='post'>{% csrf_token %}
    <input type='submit' value='Simulate'>
  </form> -->
  <!-- <div class=""><button type="button" class="btn btn-default" class="configure-routing-btn">simulate</button></div> -->

  <div class="table-responsive">
    {% for user_role, user_role_data in users_data.items %}
      {% for user_data in user_role_data %}
        <table class="table table-condensed user-table">
          <tbody>
            <tr>
              <th colspan="2" class="gray-background"><span class="member-info">{{user_data.user.first_name}} {{user_data.user.last_name}}, {{user_data.user.username}}</span> <div class="inline-div"><span class="badge {{user_role}}">{{user_role}}</span></div></th>
            </tr>
            <tr>
              {% for type, chunks in user_data.chunks.items %}
                <td class="td-chunk">
                  <table class="table table-condensed chunk-table">
                    <thead class="gray-background">
                      <tr>
                        <th colspan="1">{{type}} chunk(s)</th>
                        <th colspan="100">reviewers</th>
                      </tr>
                    </thead>
                    {% for chunk in chunks %}
                      <tr>
                        <th>{{chunk.name}}</th>
                        {% for role, reviewers in chunk.reviewers.items %}
                          {% for reviewer in reviewers %}
                            <td class='{{role}} {% if type == "submitted" and user_data.user.username == reviewer.username %}author-reviewer'>ALERT {% else %}'>{% endif %}{{reviewer.username}}</td>
                          {% endfor %}
                        {% endfor %}
                      </tr>
                    {% endfor %}
                  </table>
                </td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      {% endfor %}
    {% endfor %}
  </div>

<!--   <div class="container-fluid">
    {% for user_role, user_role_data in users_data.items %}
      {% for user_data in user_role_data %}
        <div class="row user-row">
          <div class="row user-info-row gray-background">
            <span class="member-info">{{user_data.user.first_name}} {{user_data.user.last_name}}, {{user_data.user.username}}</span> <span class="badge {{user_role}}">{{user_role}}</span>
          </div>
          <div class="row chunk-row">
            {% for type, chunks in user_data.chunks.items %}
              <div class="col-xs-6 no-padding">
                <div class="row gray-background">
                  <div class="col-xs-3">{{type}} chunk(s)</div>
                  <div class="col-xs-9">reviewers</div>
                </div>
                {% for chunk in chunks %}
                  <div class="row">
                    <div class="col-xs-3">{{chunk.chunk.name}}</div>
                    {% for role, reviewers in chunk.reviewers.items %}
                      {% for reviewer in reviewers %}
                        <div class='col-xs-2 {{role}}'>{{reviewer.username}}</div>
                      {% endfor %}
                    {% endfor %}
                  </div>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    {% endfor %} 
  </div> -->
{% endblock %}