<link rel="stylesheet" href="{{ STATIC_URL }}css/comments.css" type="text/css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/fullproof-all.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/stopwords.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/comments_search.js"></script>


<script type="text/javascript">
  // on unload this page, clear database
  $(window).on("unload", function() {
    {% if COMMENT_SEARCH %}
      clearDatabase("{{chunk.id}}");
    {% endif %}
  });

  $(document).ready(function() {
    {% if COMMENT_SEARCH %}

      // on load, clear database
      clearDatabase("{{chunk.id}}");

      // Add comments to database
      var commentsData = [];
      {% for comment in old_comment_data %}

        // Need to use escapejs filter to escape newline characters coming from the textarea
        commentsData.push({
          "comment": "{{comment.text|escapejs}}",
          "comment_id": "{{comment.id}}",
          "author": "{{comment.author.get_full_name|default:comment.author.username}} ({{comment.author.profile.reputation}})",
          "author_url": "{% url 'accounts.views.view_profile' comment.author.username %}",
          "chunk_id": "{{comment.chunk.id}}",
          "highlight_chunk_line_url": "{% url 'chunks.views.highlight_comment_chunk_line' comment.id %}",
        });
      {% endfor %}
      commentSearch.init(commentsData, "{{chunk.id}}");

    {% endif %}

  });

</script>
