#comment-display-inner {
    position: relative;
    margin-left: 5px;
    min-height: 5px;
}

.comment {
    border: 1px solid #ddd;
    margin: 0px 0px 10px 0px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 1px 1px 2px #aaa;
    background-color: #fff;
}
.comment:hover {
    cursor: pointer;
    background-color: #eee;
}

.collapsed.comment {
    height: 16px;
    overflow: hidden;
}
.collapsed.comment.comment-reply {
    height: 0px; 
    border: 0px;
}

.comment.comment-reply {
    border-top: 0px;
    margin-top: -10px;
    margin-left: 20px;
    border-top-left-radius: 0px;
    -moz-border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-top-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
}

.comment-header {
    font-size: 10px;
    border-bottom: 1px dashed #ddd;
    padding: 0px 2px;
    position: relative;
}
.comment-header .comment-line-numbers {
    float: left;
    padding-right: 0.5em;
}
.comment-header .comment-snippet {
    display: block;
    color: #777;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: monospace;
}

.collapsed .comment-header {
    border-bottom: 0px;
}

.collapsed .comment-snippet {
    display: none;
}

.comment-visibility {
    position: absolute;
    display: none;
    height: 16px;
    width: 16px;
    right: 0px;
}

.comment:hover .comment-visibility {
    display: block;
}

.comment.expanded .comment-visibility {
    background-image: url('../img/toggle-small.png');
}

.collapsed .comment-visibility {
    background-image: url('../img/toggle-small-expand.png');
}

.comment-author {
    text-align: right;
    padding: 0px 5px;
    color: #777;
    font-size: 10px;
}

.collapsed .comment-author {
    display: none;
}

.comment-text {
    padding: 5px;
    margin: 0px;
    clear: both;
}

.collapsed .comment-text {
    color: #777;
    font-size: 10px;
    padding: 0px;
    clear: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.comment-footer {
    display: block;
    overflow: auto;
    height: 28px;
    padding: 0px 5px;
    position: relative;
}

.comment.collapsed .comment-footer {
    display: none;
}

.comment-footer .comment-votes {
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.comment-footer .comment-actions {
    float: right;
    display: none;
}

.comment.expanded:hover .comment-footer .comment-actions {
    display: block;
}

.vote-buttons {

}

.vote-buttons .vote {
    display: inline-block;
    width: 21px;
    height: 21px;
    vertical-align: middle;
    background: #eee;
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #333;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.vote-buttons .vote:hover {
    border: 1px solid #000;
    background-color: #ccc;
    cursor: pointer;
}

.vote-buttons .vote.up {
    background-image: url('../img/thumb-up.png'); 
    background-repeat: no-repeat; 
    background-position: 2px 2px;
}

.vote-buttons .vote.down {
    background-image: url('../img/thumb-down.png');
    background-repeat: no-repeat;
    background-position: 2px 2px;
}
.vote-buttons .vote.selected {
    background-color: #ffff5a;
}

.ui-button-text {
    font-size: 75%;
}

.ui-button .ui-icon-reply {
    background-image: url('../img/arrow-curve-180-left.png');
    width: 16px;
    height: 16px;
}

.ui-button .ui-icon-delete {
    background-image: url('../img/cross-script.png');
    width: 16px;
    height: 16px;
}

.new-comment textarea, .reply-form textarea {
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    height: auto;
}

.comment-form, .reply-form {
    padding: 5px;
}
