.comment {
    border: 1px solid #ddd;
    margin: 0px 0px 10px 0px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 1px 1px 2px #aaa;
}
.comment:hover {
    cursor: pointer;
    background-color: #eee;
}

.comment.comment-reply {
    border-top: 0px;
    margin-top: -10px;
    margin-left: 20px;
    border-top-left-radius: 0px;
    -moz-border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-top-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
}

.comment-header {
    font-size: 10px;
    border-bottom: 1px dashed #ddd;
    padding: 0px 2px;
}
.comment-header .comment-line-numbers {
    float: left;
    padding-right: 1em;
}
.comment-header .comment-snippet {
    display: block;
    color: #777;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: monospace;
}

.comment-author {
    text-align: right;
    padding: 0px 5px;
    color: #777;
    font-size: 10px;
}

.comment-text {
    padding: 5px;
    margin: 0px;
    clear: both;
}

.comment-footer {
    display: block;
    overflow: auto;
    height: 28px;
    padding: 0px 5px;
    position: relative;
}

.comment-footer .comment-votes {
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.comment-footer .comment-actions {
    float: right;
    display: none;
}

.ui-button-text {
    font-size: 75%;
}

.ui-button .ui-icon-thumb-up {
    background-image: url('../img/thumb-up.png');
    width: 16px;
    height: 16px;
}

.ui-button .ui-icon-thumb-down {
    background-image: url('../img/thumb-down.png');
    width: 16px;
    height: 16px;
}

.ui-button .ui-icon-reply {
    background-image: url('../img/arrow-curve-180-left.png');
    width: 16px;
    height: 16px;
}

.ui-button .ui-icon-delete {
    background-image: url('../img/cross-script.png');
    width: 16px;
    height: 16px;
}

.new-comment textarea, .reply-form textarea {
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    height: auto;
}

.comment-form, .reply-form {
    padding: 5px;
}
