.type {
    display: inline;
    float: left;
    padding: 0px 5px;
    background-repeat: no-repeat;
    height: 16px;
    padding-left: 10px;
}
#vote-up {
    background-image: url('../img/thumb-up.png');
}
#vote-down {
    background-image: url('../img/thumb-down.png');
}
#reply-comment {
    background-image: url('../img/arrow-curve-180-left.png');
}
#new-comment {
    background-image: url('../img/balloon.png');
}
#view-all-activity {
    display: block;
    float: right;
    padding: 0px 5px;
}
.black-text{
    border: solid black 1px;
    border-right: none;
    border-left: none;
    border-top: none;
}
.grey-text {
    color: #777;
    border: solid black 1px;
    border-right: none;
    border-left: none;
    border-top: none;
}
.activity-line:hover {
    background-color: #eee;
    cursor: pointer;
}

.new.activity-line {
    font-weight: bold;
}
.assignment-display {
    padding: 10px 10px;
    background-color: #eee;
}
.stream-list {
    display: block;
    margin-bottom: 18px;
}