.type {
    display: inline;
    float: left;
    padding: 0px 5px;
    background-repeat: no-repeat;
    height: 16px;
    padding-left: 16px;
}
#vote-up {
    background-image: url('../img/thumb-up.png');
}
#vote-down {
    background-image: url('../img/thumb-down.png');
}
#reply-comment {
    background-image: url('../img/arrow-curve-180-left.png');
}
#new-comment {
    background-image: url('../img/balloon.png');
}
.view-all-activity {
    font-size: small;
    display: block;
    float: right;
    padding: 0px 5px;
}
table.assignment-stream {
    margin-bottom: 2em;
    border-collapse: collapse;
}

.grey-text {
    color: #777;
    width: 25em;
}
.black-text{
    width: 60em;
}
.activity-line {
    border-bottom: 1px solid #aaa;
}

.activity-line:hover {
    background-color: #eee;
    cursor: pointer;
}

.new.activity-line {
    font-weight: bold;
}
.assignment-display {
    padding: 10px 10px;
    background-color: #eee;
    margin-bottom: 0px;
}
.stream-list {
    display: block;
    margin-bottom: 18px;
}