<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Caesar{% endblock %}</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/print.css" type="text/css" media="print" />
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection" />
    <![endif]-->
    <link rel="stylesheet" href="{{ MEDIA_URL}}css/smoothness/jquery-ui.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" />

    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.11.custom.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            $('#toolbar-anonymous .login-button').click(function() {
                $.get('{% url caesar.accounts.views.login %}', 
                    { next: '{{ request.path }}' }, function(data) {
                        $('#toolbar-anonymous').html(data);        
                    }
                );
            });

        });

    </script>

    {% block extrahead %}

    {% endblock %}

</head>
  <body>
    <div class="container ">

      {% block header %}
      <div id="toolbar" class="span-24">
        <div id="toolbar-user">
            {% if user.is_authenticated %}
            <div id="toolbar-logged-in">
              Welcome back, {{ user.username }}
              <a href="{% url django.contrib.auth.views.logout %}">Logout</a>
            </div>
            {% else %}
            <div id="toolbar-anonymous">
              <button class="login-button" type="button">Login</button>
              <a href="{% url caesar.accounts.views.register %}">Register</a>
            </div>
            {% endif %}
        </div>
      </div>
      {% endblock %}

      {% block content %}
      {% endblock %}

      {% block footer %}
      <div id="footer" class="span-24">

      </div>
      {% endblock %}
    </div>
  </body>
</html>
