<script type="text/javascript" charset="utf-8">

var model = new function() {
    var self = this;
    var listeners = {};
    
    self.addListener = function(eventName, listener) {
        if (!listeners[eventName]) {
            listeners[eventName] = [];
        }
        listeners[eventName].push(listener);
    };

    var fireEvent = function(eventName) {
        var args = Array.prototype.slice.call(arguments);
        args.shift();
    
        if (listeners[eventName]) {
            $.each(listeners[eventName], function(index, listener) {
                listener.apply(self, args);
            });
        }
    };

    self.comments = [];
    self.task = {
        status: '{{ task.status }}'
    };

    var startTask = function() {
        if (self.task.status === 'O') {
            self.task.status = 'S';
            fireEvent('taskStarted');
        }
    };
    self.addListener('commentAdded', startTask);
    self.addListener('commentVoted', startTask);

    self.computeIndex = function(start, end, isReply, parentId) {
        var target;
        if (!isReply) {
            target = self.comments.length;
            $.each(self.comments, function(index, comment) {
                if ((start == comment.start && end > comment.end) ||
                        start < comment.start) {
                    target = index;
                    return false;
                }
            });
        } else {
            // iterate backwards over the comments
            for (var i = self.comments.length - 1; i >= 0; i--) {
                var comment = self.comments[i];
                // find the parent or another reply in the same thread
                if (comment.id == parentId || comment.parentId == parentId) {
                    target = i + 1;
                    break;
                }
            }
        }
        return target;
    };

    self.addComment = function(comment) {
        var target = self.computeIndex(comment.start, comment.end, 
                                       comment.isReply, comment.parentId);
        self.comments.splice(target, 0, comment);
        fireEvent('commentAdded', comment);
    };

    self.addCommentFromDOM = function(elt) {
        var idSplit = elt.id.split('-');
        var isReply = $(elt).hasClass('comment-reply') 
        var comment =  { 
            id: parseInt(idSplit[1]), 
            start: parseInt(idSplit[2]), 
            end: parseInt(idSplit[3]),
            chunk: parseInt(idSplit[4]),
            isReply: isReply,
            parentId: isReply ? parseInt(
                    $(elt).attr('class').match(/parent-(\d+)/)[1]) : null,
            elt: elt 
        };
        self.addComment(comment);
        return comment;
    };

    self.removeComment = function(comment) {
        var index = self.comments.indexOf(comment);
        if (index != -1) {
            self.comments.splice(index, 1);
            fireEvent('commentRemoved', comment);    
        }
    };

    self.voteComment = function(comment, voteValue) {
        fireEvent('commentVoted', comment, voteValue);
    };

    self.unvoteComment = function(comment) {
        fireEvent('commentUnvoted', comment);
    };

};

</script>

<script type="text/javascript" charset="utf-8">
window.isSelecting = false;

function showCommentForm(startLine, endLine, chunkId) {
    $.get('{% url review.views.new_comment %}', 
        { start: startLine, end: endLine, chunk: chunkId },
        function(data) {
            $('.new-comment').remove();
            $('.reply-form').parent().remove();
            // find the appropriate place to insert the form
            var added = false;
            var elt = $(data);
            var index = model.computeIndex(startLine, endLine);
            $.each(model.comments, function(index, comment) {
                if ((startLine == comment.start && endLine > comment.end)
                    || startLine < comment.start) {
                    $(comment.elt).before(elt);                        
                    added = true;
                    return false;
                }
            });
            if (!added) {
                $('#comment-display-inner').append(elt);
            }
            // construct a fake "comment" boundary object to pass in
            var commentElt = elt.filter('.comment').get(0);
            scrollCodeTo({
                start: startLine, 
                end: endLine, 
                elt: commentElt
            }, true, function() {
                $('textarea').focus();
            }); 
        }
    );
};

function highlightCommentLines(comment) {
    // highlight corresponding code lines
    for (var i = comment.start; i <= comment.end; i++) {
        $('#line-' + comment.chunk + '-' + i).addClass('highlighted');            
    }
};

function unhighlightCommentLines() {
    $('.line').removeClass('highlighted');            
};

function collapseComment(comment) {
    $(comment.elt).stop(true, true)
            .switchClass('expanded', 'collapsed', 'fast');
    $('.parent-' + comment.id).stop(true, true)
            .switchClass('expanded', 'collapsed', 'fast');
};

function expandComment(comment) {
    $(comment.elt).stop(true, true)
            .switchClass('collapsed', 'expanded', 'fast');
    $('.parent-' + comment.id).stop(true, true)
            .switchClass('collapsed', 'expanded', 'fast');
};

function collapseAllComments() {
    $('.comment').stop(true, true).switchClass('expanded', 'collapsed', 'fast');
};

function expandAllComments() {
    $('.comment').stop(true, true).switchClass('collapsed', 'expanded', 'fast');
};

function scrollCodeTo(comment, doScroll, callback) {
    if (doScroll === undefined) {
        doScroll = true;
    }
    if (callback === undefined) {
        callback = function() { return; };
    }
    var SCROLL_THRESHOLD = 75;
    var targetLine = $('#chunk-' + comment.chunk + '-line-' + comment.start);
    var commentTop = $(comment.elt).offset().top;
    var commentHeight = $(comment.elt).height();
    var yDelta = targetLine.offset().top - commentTop ;

    // Wraps the callback so it is only executed the nth time it is called
    // This guarantees that the callback is called exactly once and after all
    // animations have run.
    // FIXME Because of the way this code is structured, it is extremely 
    // easy to forget to call the callback in all cases to guarantee execution.
    function wrapCallback(f, n) {
        var i = 0;
        return function() {
            if (i + 1 == n) {
                return f();
            } else {
                i++;
            }
        };
    };

    var cb = wrapCallback(callback, 3);

    $('#comment-display-inner').animate({
        top: '+=' + yDelta
    }, { duration: 500, queue: false, easing: 'easeInOutQuad', complete: cb });

    if (!doScroll) {
        cb(); cb();
        return;
    }

    var windowHeight = $(window).height();
    if (commentTop + yDelta + commentHeight >
            windowHeight + $(window).scrollTop()) {
        $('html,body').animate({
            scrollTop: commentTop - windowHeight + 
                commentHeight + yDelta + SCROLL_THRESHOLD
        }, { duration: 500, queue: false, easing: 'easeInOutQuad',
             complete: cb }); 
    } else if (commentTop + yDelta < $(window).scrollTop()) {
        $('html,body').animate({
            scrollTop: commentTop + yDelta - SCROLL_THRESHOLD
        }, { duration: 500, queue: false, easing: 'easeInOutQuad', 
             complete: cb }); 
    } else {
        cb(); cb();
    }

    return yDelta;
};

function resetScroll() {
    $('#comment-display-inner').animate({
        top: 0
    }, { duration: 500, queue: false });
};

window.clearSelection = function() {
    isSelecting = false;
    $('.line').removeClass('ui-selected');
    $('.new-comment').remove();
    $('.reply-form').parent().remove();
};

function drawCommentMarker(comment) {
    if (!$('#chunk-' + comment.chunk +'-line-' + comment.start).has('.comment-marker').size()) {
        $('<span></span>')
          .prependTo('#chunk-' + comment.chunk + '-line-' + comment.start)
          .addClass('comment-marker')
          .data('count', 1)
          .click(function(e) { 
              scrollCodeTo(comment);
              $.each(model.comments, function(index, innerComment) {
                  if (innerComment.start == comment.start) {
                      $(innerComment.elt).effect('highlight', {}, 2000);
                  }
              });
          });
    } else {
        var marker = $('#chunk-' + comment.chunk + '-line-' + comment.start)
                .children('.comment-marker');
        var count = marker.data('count') + 1;
        marker.data('count', count);
        marker.text(count);
    }
}

function removeCommentMarker(comment) {
    var marker = $('#chunk-' + comment.chunk + '-line-' + comment.start).children('.comment-marker');
    if (marker.data('count') <= 1) {
        marker.remove();
    } else {
        var count = marker.data('count') - 1;
        marker.data('count', count);
        marker.text(count);
    }
}

function drawCommentButtons(comment) {
    $('.reply-button', comment.elt).button({
        icons: { primary: 'ui-icon-reply', secondary: null },
        text: true
    });
    $('.delete-button', comment.elt).button({
        icons: { primary: 'ui-icon-delete', secondary: null },
        text: false
    });
}

function attachCommentHandlers(comment) {
    $('.comment-header', comment.elt).click(function() {
        if ($(comment.elt).hasClass('collapsed')) {
            expandComment(comment);
        } else {
            collapseComment(comment);
        }
        return false;
    });

    $(comment.elt).click(function() {
        if ($(comment.elt).hasClass('collapsed')) {
            expandComment(comment);
        } else {
            scrollCodeTo(comment);
            return false;
        }
    });

    {% if full_view %}
    //reply button
    $('.reply-button', comment.elt).click(function() {
		$.get('{% url review.views.reply %}', 
	        { parent: comment.id }	,
	        function(data) {
	            $('.reply-form').parent().remove();
                clearSelection();

	            // find the appropriate place to insert the form
                var previousComment = comment.elt;
                var lastReply = $(comment.elt)
                        .nextUntil('.comment:not(.comment-reply)').last();
                if (lastReply.length) {
                    previousComment = lastReply;
                }

                var replyElt = $(data).insertAfter(previousComment);
                scrollCodeTo({
                    start: comment.start, 
                    end: comment.end, 
                    elt: replyElt.get(0) 
                }, true, function() { 
                    $('textarea').focus();
                });
	        }
	    );
        return false;
	});

	// delete button
    $('.delete-button', comment.elt).click(function() {
        $.get('{% url review.views.delete_comment %}', {
            comment_id: comment.id
        }, function(data) {
            model.removeComment(comment);
        });
        return false;
    });

    $('.vote-buttons .vote', comment.elt).click(function(e) {
        var button = this;
        var isUp = $(this).hasClass('up');
        if (!$(this).is('.selected')) {
            var value = isUp ? 1 : -1;
            $.post('{% url review.views.vote %}', {
                comment_id: comment.id,
                value: value,
            }, function(data) {
                $(button).addClass('selected');
                // deselect the other vote button if it is selected
                var otherButton = isUp ? $(button).nextAll('.vote') :
                    $(button).prevAll('.vote');
                otherButton.removeClass('selected');
                $('.comment-votes', comment.elt).text(data)
                    .effect('highlight', {queue: false}, 1000);
                model.voteComment(comment, value);
            });
        } else {
            $.post('{% url review.views.unvote %}', {
                comment_id: comment.id
            }, function(data) {
                $(button).removeClass('selected');
                $('.comment-votes', comment.elt).text(data)
                    .effect('highlight', {queue: false}, 1000);
                model.unvoteComment(comment);
            });
        }
        return false;
    });
    {% endif %}

    // mouseover behavior
    $(comment.elt).mouseover(function() {
        highlightCommentLines(comment);
    });
    $(comment.elt).mouseout(function() {
        unhighlightCommentLines();
    });

}

model.addListener('commentAdded', function(comment) {
    drawCommentMarker(comment);
    {% if full_view %}
        drawCommentButtons(comment);
    {% endif %}
    attachCommentHandlers(comment);
});

model.addListener('commentRemoved', function(comment) {
    $(comment.elt).remove();        
    $('.parent-' + comment.id).remove();
    $('.line').removeClass('highlighted');            
    removeCommentMarker(comment);
    resetScroll();
});

model.addListener('taskStarted', function() {
    $('#done-button').removeAttr('disabled');
});

$(document).ready(function() {

$('.comment').each(function() {
    model.addCommentFromDOM(this);
});

// Clear the selected lines if the user clicks anywhere except the comment form
$('body').mousedown(function(e) {
    if ($(e.target).is('.new-comment *') || $(e.target).is('.new-reply *')) {
        return true;
    }
    if ($('.new-comment textarea').val() || $('.new-reply textarea').val()) {
        return false;
    }
    clearSelection();
    if (!$(e.target).is('.comment *, .chunk-line *')) {
        resetScroll();
    }
    return true;
});

{% if full_view %}
$('#chunk-display').selectable({
    filter: '.line',
    cancel: '.comment-marker',
    start: function(event, ui) {
        isSelecting = true;
    },
    stop: function(event, ui) {
        var startLine = Number.MAX_VALUE;
        var endLine = Number.MIN_VALUE;
        var chunkId = 0;
        $('.line.ui-selected').each(function(i) {
            var n = parseInt($(this).attr('id').split('-')[2]);
            endLine = Math.max(endLine, n);
            startLine = Math.min(startLine, n);
            chunkId = parseInt($(this).attr('id').split('-')[1]);
        });
        showCommentForm(startLine, endLine, chunkId);
    }
});
{% endif %}

$('#new-comment-form').live('submit', function() {
    var dataString = $(this).serialize();
    $.post('{% url review.views.new_comment %}', dataString, function(data) {
        var newNode = $(data);
        $('.new-comment').replaceWith(newNode);
        model.addCommentFromDOM(newNode.get(0));
        newNode.effect('highlight', {}, 2000);
        resetScroll();
        clearSelection();
    });
    return false;
});

$('#reply-comment-form').live('submit', function() {
    var dataString = $(this).serialize();
    $.post('{% url review.views.reply %}', dataString, function(data) {
        var newNode = $(data);
        $('.new-reply').replaceWith(newNode);
        model.addCommentFromDOM(newNode.get(0));
        newNode.effect('highlight', {}, 2000);
        resetScroll();
        clearSelection();
    });
    return false;
});

$('#cancel-button').live('click', function() {
    resetScroll();
    clearSelection();
});

$('#cancel-reply-button').live('click', function() {
    resetScroll();
    $('.reply-form').parent().remove();
});

var toggleCommentsText = {
    collapse: 'Collapse all comments', 
    expand: 'Expand all comments'
};
$('#toggle-comments-button').data('state', 'collapse');
$('#toggle-comments-button').click(function() {
    var state = $(this).data('state');
    if (state === 'collapse') {
        collapseAllComments();
        state = 'expand';
    } else {
        expandAllComments();
        state = 'collapse';
    }
    $(this).text(toggleCommentsText[state]).data('state', state);
});


var toggleInstructionsText = {
    visible: 'Hide instructions', 
    hidden: 'Show instructions' 
};
var instructionsState = $.cookie('instructionsState') || 'visible';

if (instructionsState === 'visible') {
    $('#instructions-text').show();
} else {
    $('#instructions-text').hide();
}
$('#toggle-instructions-button')
        .text(toggleInstructionsText[instructionsState]);

$('#toggle-instructions-button').click(function() {
    if (instructionsState === 'visible') {
        $('#instructions-text').slideUp(400);
        instructionsState = 'hidden';
    } else {
        $('#instructions-text').slideDown(400);
        instructionsState = 'visible';
    }
    $.cookie('instructionsState', instructionsState);
    $(this).text(toggleInstructionsText[instructionsState]);
});

$('.dropdown-link').click(function() {
    var menu = $(this).next('.dropdown-menu');
    var position = $(this).position();
    var height = $(this).outerHeight();
    menu.css({ top: position.top + height, left: position.left });
    menu.slideDown(400);
    return false;
});

$('body').click(function() {
    $('.dropdown-menu').slideUp(400); 
});

});
</script>