{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/chunks.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/dashboard.css" type="text/css" />
{{ block.super }}
{% endblock %}

{% block content %}
{% load chunk_extras %}

<div id='toggle-buttons'>
  <button id='toggle-chunks' onclick="$('.chunk').fadeToggle()">Toggle Chunks</button>
  <button id='toggle-tasks' onclick="$('.task').toggleToggle()">Toggle Tasks</button>
</div>

<div id=user-chunk-list>
  {% for user in users %}
    {% with user_data=data|get_item:user.id %}
    <div class='user-chunk'>

      <div class = '{% if user_data.submission.chunk_count > 0 %}multi-chunks{% else %} zero-chunk {% endif %}'>
        <span class='author'>{{user.first_name}} {{user.last_name}}, {{user.username}}</span>
        <span class='author-role'>{{user.profile.role_str}}</span>
      </div>

      {% for task in user_data.tasks %}
      <div class='task {% if task.completed %}completed-task{% endif %}'>
        {{task.chunk.name}}, by {{task.author.first_name}} {{task.author.last_name}}

        <div class='chunk-info'>
          {% for reviewers in task.chunk.reviewers_comment_strs %}
            <span class='info-col {{reviewers.class}} {% if not reviewers.completed %}un{% endif %}completed'>{{reviewers.str}}</span>
          {% endfor %}
        </div>

      </div>
      {% endfor %}

      {% for chunk in user_data.submission.chunks %}
      <div class='chunk {% if chunk.reviewer_count > 0 %}multi-reviewer-chunk{% else %}zero-reviewer-chunk{% endif %}'>
        <a class='chunk-link' href='/chunks/view/{{chunk.id}}'>{{chunk.name}}</a>
        <div class='chunk-info'>
          {% for reviewers in chunk.reviewers_comment_strs %}
            <span class='info-col {{reviewers.class}} {% if not reviewers.completed %}un{% endif %}completed'>{{reviewers.str}}</span>
          {% endfor %}
        </div>
      </div>
      {% endfor %}

    </div>
    {% endwith %}
  {% endfor %}
</div>

{% endblock %}
