{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/chunks.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/dashboard.css" type="text/css" />
{{ block.super }}
{% endblock %}

{% block content %}
{% load chunk_extras %}

<div id='toggle-buttons'>
  <button id='toggle-chunks' onclick="$('.chunk').fadeToggle()">Toggle Chunks</button>
  <button id='toggle-tasks' onclick="$('.task').toggleToggle()">Toggle Tasks</button>
</div>

{{data}}

<form action='' method='post'>{% csrf_token %}
  <input type='submit' value='Simulate'>
</form>

<div id=user-chunk-list>
  {% for user_data in users_data %}
    <div class='user-chunk'>
      <div class = '{% if user_data.has_chunks > 0 %}multi-chunks{% else %} zero-chunk {% endif %}'>
        <span class='author'>{{user_data.user.first_name}} {{user_data.user.last_name}}, {{user_data.user.username}}</span>
        <span class='author-role'>{{user_data.user.profile.role_str}}</span>
      </div>

      {% for task in user_data.tasks %}
      <div class='task {% if task.completed %}completed-task{% endif %}'>
        {{task.chunk.name}}, by {{task.author.first_name}} {{task.author.last_name}}

        <div class='chunk-info'>
          {% for reviewer_group in task.reviewers_dicts %}
            <div class='reviewers-col'>
              {% if reviewer_group|length_is:"0" %}
                <span style='color: white'>i</span>
              {% endif %}
              {% for reviewer in reviewer_group %}
                <div class='{% if not reviewer.completed %}un{% endif %}completed'>{{reviewer.username}} [{{reviewer.count}}]</div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>

      </div>
      {% endfor %}

      {% for chunk in user_data.chunks %}
      <div class='chunk {% if chunk.reviewer_count > 0 %}multi-reviewer-chunk{% else %}zero-reviewer-chunk{% endif %}'>
        <a class='chunk-link' href='/chunks/view/{{chunk.id}}'>{{chunk.name}}</a>
        <div class='chunk-info'>
          {% for reviewer_group in chunk.reviewers_dicts %}
          <div class='reviewers-col'>
            {% if reviewer_group|length_is:"0" %}
              <span style='color: white'>i</span>
            {% endif %}
              {% for reviewer in reviewer_group %}
                <div class='{% if not reviewer.completed %}un{% endif %}completed'>{{reviewer.username}} [{{reviewer.count}}]</div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}

    </div>
  {% endfor %}
</div>

{% endblock %}
