{% extends "base.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/publish.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/social_foundicons.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/general_foundicons.css" type="text/css" />

{% endblock %}

{% block js %}
{{ block.super }}

<script type="text/javascript" src="{{ STATIC_URL }}js/publish.js"></script>

{% endblock %}

{% block breadcrumbs %}
  <a class="breadcrumb first-breadcrumb" href="{% url dashboard.views.dashboard %}">Dashboard</a>
    <a class="breadcrumb" href="{% url accounts.views.allusers %}">all users</a>
  <a class="breadcrumb" href="{% url accounts.views.view_profile user %}">{{ user.username }}</a>
  <span class="breadcrumb">Publish</span>
{% endblock %}


{% block content %}

<div class='row'>
  <div class='span12'>
    <h1>My Published Code</h1>

	  {% for submission in submissions %}
	    <h4 class="assignment-display">
	      <a href="{% url chunks.views.view_all_chunks 'code' submission.id %}">{{ submission.name }}</a> 
	      <span class='muted pull-right'>{{ submission.assignment.semester }}</span>
        {% if not submission.published %}
	        <div class='btn btn-info publish' data-submission='{{ submission.id }}' data-published='False'>Publish</div>
	      {% else %}
	        <div class='btn btn-danger publish' data-submission='{{ submission.id }}' data-published='True'>Unpublish</div>
	      {% endif %}
	    </h4>
		{% empty %}
		  <p>You have no code in the system yet.</p>
		{% endfor %}

  </div>
</div>

{% endblock %}