{% extends "base.html" %}


{% block css %}
<!-- bootstap messes this page up, so hacking around it. -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/print.css" type="text/css" media="print" />
<!--[if lt IE 8]>
<link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection" />
<![endif]-->
<link rel="stylesheet" href="{{ STATIC_URL}}css/smoothness/jquery-ui.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/toolbar.css" type="text/css" />

<link rel="stylesheet" href="{{ STATIC_URL }}css/chunks.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/comments.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/syntax.css" type="text/css" />

{% if full_view %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/fullchunks.css" type="text/css" />
{% endif %}

{% endblock %}


{% block js %}

{{ block.super }}
<script type="text/javascript" charset="utf-8">
    caesar.state = {
        fullView: {% if full_view %}true{% else %}false{% endif %}
    };
</script>

<script type="text/javascript" src="{{ STATIC_URL }}js/chunk.js?v=1"></script>

<script type="text/javascript" charset="utf-8">

$(document).ready(function() {
    var fileSystemText = {
        visible: 'Hide Files', 
        hidden: 'Show Files' 
    };
    var fileState = 'visible';

    if (fileState === 'visible') {
        $('#filesystem-text').show();
    } else {
        $('#filesystem-text').hide();
    }
    $('#file-action')
            .text(fileSystemText[fileState]);

    $('#file-action').click(function() {
        if (fileState === 'visible') {
            $('#filesystem-text').hide();
            fileState = 'hidden';
        } else {
            $('#filesystem-text').show();
            fileState = 'visible';
        }
        $(this).text(fileSystemText[fileState]);
    });

});
</script>

{% endblock %}




{% block breadcrumbs %}
  <a class="breadcrumb first-breadcrumb" href="{% url review.views.dashboard %}">Dashboard</a>
  <span class="breadcrumb">{{ milestone_name }}</span>
{% endblock %}

{% block secondary-toolbar %}
{% if read_only or comment_view %}
<div id="secondary-toolbar-inner">
    <button id="toggle-comments-button" type="button">
      Collapse all comments
    </button>
    <button id="toggle-auto-comments-button" type="button">
      Collapse all checkstyle comments
    </button>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div id="filesystem-text">
    {% for path, user_comments, static_comments in path_and_stats%}
        <div id="file-name-title">
            {% if read_only or comment_view %}
            <span class="comment-count" title="User Comments">
                {{ user_comments }},
            </span>
            <span class="robot-count" title="Automatic Comments">
                {{ static_comments }}
            </span>
            {% endif %}
            <A HREF="#{{path}}">{{ path }} </A>
        </div>
    {% empty %}
      No files found.
    {% endfor %}
</div>
<div id="file-action">Show Files</div>



{% for path, highlighted_lines_for_file, file in file_data %}
<h2 class="file-name-display">
<A NAME="{{path}}"></A> {{ path }}
</h2>

<table>
<tr>   
{% if read_only or comment_view %}
<td id="code-table-display">
<div id="comment-display" class="span-6">
    {% for highlighted_lines, is_chunk, chunk, comment_data in highlighted_lines_for_file %}
        {% if is_chunk %}
            <div id="comment-display-inner" class="file-{{file.id}} files">
                {% for comment, snippet in comment_data %}
                    {% include "review/comment.html" %}
                {% empty %}
                {% endfor %}
            </div>
        {% endif %}
    {% empty %}
    {% endfor %}
</div>
</td>
{% endif %}
<td id="code-table-display">
{% for highlighted_lines, is_chunk, chunk, comments in highlighted_lines_for_file %}
    {% if is_chunk %}
        <div id="chunk-display" class="span-18 last">
            <div id="chunk-{{chunk.id}}-dispaly" class="syntax">
            {% for n, line, staff_code in highlighted_lines %}
            {% if not staff_code %}
              <span id="chunk-{{chunk.id}}-line-{{ n }}" class="chunk-line chunk-line-student">
                <span id="line-{{chunk.id}}-{{ n }}-{{file.id}}" class="line">
                  <span class="line-number">{{ n }}</span><pre class="line-code">{{ line|safe }}</pre>
                </span>
              </span>
              {% else %}
              <span id="chunk-{{chunk.id}}-line-{{ n }}" class="chunk-line chunk-line-staff">
                <span id="line-{{chunk.id}}-{{ n }}-{{file.id}}" class="line">
                  <span class="line-number">{{ n }}</span><pre class="line-code">{{ line|safe }}</pre>
                </span>
              </span>
              {% endif %}
            {% endfor %}
            </div>
        </div>
    {% else %}
        <div id="nonchunk-display" class="span-18 last">
            <div class="syntax">
            {% for n, line, staff_code in highlighted_lines %}
            <span id="chunk-line-{{ n }}" class="nonchunk-line">
              <span id="line-{{ n }}" class="line">
                <span class="line-number">{{ n }}</span><pre class="line-code">{{ line|safe }}</pre>
              </span>
            </span>
            {% endfor %}
            </div>
        </div>
    {% endif %}
    {% empty %}
    {% endfor %}
</td></tr>
</table>
{% empty %}
{% endfor %}

{% endblock %}

