{% extends "base.html" %}


{% block css %}
{{ block.super }}

<link rel="stylesheet" href="{{ STATIC_URL }}css/chunks.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/comments.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/syntax.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/fullchunks.css" type="text/css" />


{% endblock %}

{% block js %}
{{ block.super }}

<script type="text/javascript" charset="utf-8">
    caesar.state = {
        taskStatus: '{{ task.status }}',
        chunkId: {{ chunk.id }},
        fullView: {% if full_view %}true{% else %}false{% endif %}
    };
</script>

<script type="text/javascript" src="{{ STATIC_URL }}js/chunk.js"></script>
{% endblock %}

{% block breadcrumbs %}
  <a class="breadcrumb first-breadcrumb" href="{% url review.views.dashboard %}">Dashboard</a>
  <span class="breadcrumb" href="{{ chunk.get_absolute_url }}">{{ chunk.name }}</span>
  {% if similar_chunks %}
  <div class="dropdown">
    <a id="similar-link" class="breadcrumb dropdown-link">Similar code..</a>
    <ul class="dropdown-menu">
      {% for c in similar_chunks %}
      <li><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endblock %}

{% block actions %}
{% endblock %}

{% block secondary-toolbar %}
<div id="secondary-toolbar-inner">
  {% if task %}
  <div id="instructions-text">
    <p>Please review this code as if you are writing to the student who wrote 
    it.  You can:</p>
    <ul>
      <li>Make a comment by clicking or selecting the relevant code lines.</li>
      <li>Upvote or downvote an existing comment.</li>
      <li>Reply to an existing comment to agree, disagree, or discuss.</li>
    </ul>
    <p>Please do at least one thing on this method, then click the 
Next 
    button to go to the next method to review.</p>
  </div>
  {% endif %}
  <div id="chunk-navigation">
    <div id="task-count">
      {% if task %}
      {{ task_count|default:"No" }} function{{ task_count|pluralize }}
      remaining for review
      {% else %}
      You have not been assigned to review this function
      {% endif %}
    </div>
    {% if task %}
      {% if task_count > 0 %}
      <form method="get" action="{% url review.views.change_task %}">
        <input type="hidden" name="task_id" value="{{ task.id }}"/>
        <input type="hidden" name="status" value="C"/>
        <button id="done-button" type="submit"
        {% if task.status == 'O' or task.status == 'N' %}
          disabled
        {% endif %}>
          Next
        </button>
      </form>
      {% else %}
      <a href="https://spreadsheets.google.com/spreadsheet/viewform?formkey=dGNyMlRVTGNTbXFZazA5bDRPd25sZFE6MQ" target="_blank"><button>Feedback survey</button></a>
      {% endif %}
    {% endif %}
  </div>
  <button id="toggle-comments-button" type="button">
    Collapse all comments
  </button>
  <button id="toggle-auto-comments-button" type="button">
    Collapse all checkstyle comments
  </button>
  {% if task %}
  <button id="toggle-instructions-button" type="button">
    Hide instructions
  </button>
  {% endif %}
</div>
{% endblock %}

{% block content %}

{% comment %}
<div id="chunk-info" class="span-24">
    <h3>
    {{ chunk.file.submission.assignment.name }} :: 
    {{ chunk.file.submission.name }} :: 
    {{ chunk.file.path }}
    </h3>
<}/div>
{% endcomment %}
<div id ="view-all-code">
    <a href="{% url chunks.views.view_all_chunks 'code' chunk.file.submission.id %}">
      view all code
    </a>
</div>
<br/>
<div id="comment-display" class="span-6">
  <div style="mid-width:30em" id="comment-display-inner">
     {% for comment, vote, snippet in comment_data %}
       {% include "review/comment.html" %} 
     {% endfor %}
  </div>
</div>

<div id="chunk-display" class="span-18 last">
  <div class="syntax">
  {% for n, line, staff_code in highlighted_lines %}
  {% if not staff_code %}
  <span id="chunk-{{chunk.id}}-line-{{ n }}" class="chunk-line chunk-line-student">
    <span id="line-{{chunk.id}}-{{ n }}" class="line">
      <span class="line-number">{{ n }}</span><pre class="line-code">{{ line|safe }}</pre>
    </span>
  </span>
  {% else %}
  <span id="chunk-{{chunk.id}}-line-{{ n }}" class="chunk-line chunk-line-staff">
    <span id="line-{{chunk.id}}-{{ n }}" class="line">
      <span class="line-number">{{ n }}</span><pre class="line-code">{{ line|safe }}</pre>
    </span>
  </span>
  {% endif %}
  {% endfor %}
  </div>
</div>

{% endblock %}

