{% extends "base.html" %}


{% block extrahead %}

<link rel="stylesheet" href="{{ STATIC_URL }}css/chunks.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/comments.css" type="text/css" />

<script type="text/javascript">
var chunkId = {{ chunk.id }};
window.isSelecting = false;

$(document).ready(function() {

var commentBoundaries = $('.comment').map(function() {
    var idSplit = this.id.split('-');
    return { id: parseInt(idSplit[1]), 
             start: parseInt(idSplit[2]), 
             end: parseInt(idSplit[3]),
             elt: this };
});

function showCommentForm(startLine, endLine) {
    $.get('{% url review.views.new_comment %}', 
        { start: startLine, end: endLine, chunk: chunkId },
        function(data) {
            $('.new-comment').remove();
            // find the appropriate place to insert the form
            var added = false;
            $.each(commentBoundaries, function(index, comment) {
                if ((startLine == comment.start && endLine >= comment.end)
                    || startLine < comment.start) {
                    $(comment.elt).before(data);                        
                    added = true;
                    return false;
                }
            });
            if (!added) {
                $('#comment-display').append(data);
            }
        }
    );
};

function collapseComment(comment) {
    $(comment.elt).removeClass('expanded')
            .addClass('collapsed', 'fast');
};

function expandComment(comment) {
    $(comment.elt).removeClass('collapsed', 'fast')
            .addClass('expanded');
};

window.clearSelection = function() {
    isSelecting = false;
    $('.line').removeClass('ui-selected');
    $('.new-comment').remove();
};

// Clear the selected lines if the user clicks anywhere except the comment form
$('body').mousedown(function(e) {
    if ($(e.target).is('.comment-form *')) {
        return true;
    }
    clearSelection();
    return true;
});

$('#chunk-display').selectable({
    filter: '.line',
    start: function(event, ui) {
        isSelecting = true;
    },
    stop: function(event, ui) {
        var startLine = Number.MAX_VALUE;
        var endLine = Number.MIN_VALUE;
        $('.line.ui-selected').each(function(i) {
            var n = parseInt($(this).attr('id').split('-')[1]);
            endLine = Math.max(endLine, n);
            startLine = Math.min(startLine, n);
        });
        showCommentForm(startLine, endLine);
    }
});

$('.vote-buttons').buttonset();
$('.upvote-button').button('option', {
    icons: { primary: 'ui-icon-thumb-up', secondary: null },
    text: false
});
$('.downvote-button').button('option', {
    icons: { primary: 'ui-icon-thumb-down', secondary: null },
    text: false
});
$('.reply-button').button({
    icons: { primary: 'ui-icon-reply', secondary: null },
    text: false
});
$('.delete-button').button({
    icons: { primary: 'ui-icon-delete', secondary: null },
    text: false
});

// hook up some more behavior for each comment
$.each(commentBoundaries, function(index, comment) {

    if (!$('#chunk-line-' + comment.start).has('.comment-marker').size()) {
        $('<img src="{{ STATIC_URL }}img/balloon.png">')
          .prependTo('#chunk-line-' + comment.start)
          .addClass('comment-marker');
    }


    $('.comment-header', comment.elt).click(function() {
        if ($(comment.elt).hasClass('collapsed')) {
            expandComment(comment);
        } else {
            collapseComment(comment);
        }
        return false;
    });
    
    $(comment.elt).click(function() {
        if ($(comment.elt).hasClass('collapsed')) {
            expandComment(comment);
        } else {
            return true;
        }
    });

    //reply button
    $('.reply-button', comment.elt).click(function() {
		$.get('{% url review.views.reply %}', 
	        { parent: comment.id }	,
	        function(data) {
	            $('.reply-form').parent().remove();
	            // find the appropriate place to insert the form
	            $(comment.elt).after(data);
	        }
	    );
	});

	// delete button
    $('.delete-button', comment.elt).click(function() {
        $.get('{% url review.views.delete_comment %}', {
            comment_id: comment.id
        }, function(data) {
            $(comment.elt).remove();        
            $('.line').removeClass('highlighted');            
        });
    });

    $('.upvote-button,.downvote-button', comment.elt).click(function() {
        var button = this;
        var isUp = ($(this).val() == 'up');
        if ($(this).is(':checked')) {
            $.post('{% url review.views.vote %}', {
                comment_id: comment.id,
                value: (isUp ? 1 : -1)
            }, function(data) {
                // deselect the other vote button if it is selected
                if (isUp && $(button).nextAll('input').is(':checked')) {
                    // trigger it this way to prevent hitting the handler on the
                    // other checkbox
                    $(button).nextAll('input').attr('checked', false).change();
                } else if (!isUp && $(button).prevAll('input').is(':checked')) {
                    // trigger it this way to prevent hitting the handler on the
                    // other checkbox
                    $(button).prevAll('input').attr('checked', false).change();
                }
                $('.comment-votes', comment.elt).html(data)
                    .effect('highlight', {}, 1000);
            });
        } else {
            $.post('{% url review.views.unvote %}', {
                comment_id: comment.id
            }, function(data) {
                $('.comment-votes', comment.elt).html(data)
                    .effect('highlight', {}, 1000);
            });
        }
    });

    // mouseover behavior
    $(comment.elt).mouseover(function() {
        // highlight corresponding code lines
        for (var i = comment.start; i <= comment.end; i++) {
            $('#line-' + i).addClass('highlighted');            
        }
    });
    $(comment.elt).mouseout(function() {
        $('.line').removeClass('highlighted');            
    });

});


});
</script>

{% endblock %}

{% block breadcrumbs %}
  <a class="breadcrumb first-breadcrumb" href="{% url review.views.dashboard %}">Dashboard</a>
  <a class="breadcrumb" href="{{ chunk.get_permanent_url }}">{{ chunk.name }}</a>
{% endblock %}

{% block actions %}
  {% if task %}
  <form method="post" 
    action="{% url review.views.change_task %}?task_id={{ task.id }}&status=C">
    {% csrf_token %}
    <button id="done-button" type="submit">Done</button>
  </form>
  {% endif %}
{% endblock %}


{% block content %}

{% comment %}
<div id="chunk-info" class="span-24">
    <h3>
    {{ chunk.file.submission.assignment.name }} :: 
    {{ chunk.file.submission.name }} :: 
    {{ chunk.file.path }}
    </h3>
<}/div>
{% endcomment %}

<div id="comment-display" class="span-6">
    {% for comment, vote, snippet in comment_data %}
    
    {% include "review/comment.html" %} 

    {% endfor %}
</div>

<div id="chunk-display" class="span-18 last">
    {% for n, line in chunk.lines %}
    <span id="chunk-line-{{ n }}" class="chunk-line">
      <span id="line-{{ n }}" class="line">
        <span class="line-number">{{ n }}</span><pre class="line-code">{{ line }}</pre>
      </span>
    </span>
    {% endfor %}
</div>

{% endblock %}

