{% extends "base.html" %}

{% block extrahead %}

<style type="text/css">
    .ui-selected {
        background-color: #FFFF5A;
    }
    .ui-selecting {
        background-color: #FFFFCA;
    }

    textarea {
        width: 100%;
    }
</style>

<script type="text/javascript">

$(document).ready(function() {

$('#chunk-display').selectable({
    stop: function(event, ui) {
        var startLine = Number.MAX_VALUE;
        var endLine = Number.MIN_VALUE;
        $('.chunk-line.ui-selected').each(function(i) {
            var n = parseInt($(this).attr('id').split('-')[1]);
            endLine = Math.max(endLine, n);
            startLine = Math.min(startLine, n);
        });

        $.get('{% url caesar.comments.views.new_comment %}', 
            { start: startLine, end: endLine, chunk: {{ chunk.id }} },
            function(data) {
                $('.comment-form').remove();
                $('#comment-display').append(data);
            }
        );
    }
});

});
</script>

{% endblock %}


{% block content %}

<div id="chunk-info" class="span-24">
    <h3>
    {{ chunk.file.submission.assignment.name }} :: 
    {{ chunk.file.submission.name }} :: 
    {{ chunk.file.path }}
    </h3>
</div>

<hr/>


<div id="chunk-display" class="span-17 colborder">
    {% for n, line in lines %}
    <span id="line-{{ n }}" class="chunk-line">
      <span class="line-number">{{ n }}</span><pre class="line-code">{{ line }}</pre>
    </span>
    {% endfor %}
</div>

<div id="comment-display" class="span-6 last">

    {% for comment in chunk.comments.all %}
    
    {% include "comments/comment.html" %} 

    {% endfor %}

</div>



{% endblock %}

