<div id="secondary-toolbar-inner">
  <div id="instructions-text">
	    <p>Welcome to Caesar, the Course 6 code reviewing network!</p>

<!--  Thanks for signing up; you're almost ready to start helping.</p>
	    <p>Please:
	    <ol>
				<li><a class='instructions' href="{% url 'edit_membership' %}">Volunteer for Classes</a> with an upcoming class.</li>
				<li>Try out the code reviewing interface on some classic Course 6 code, below.  This code was written by course staff members, not by students.  You may remember doing some of these assignments.  What do you think about them now?</li>
			</ol>
		</p>
-->

  </div>
</div>
