{% extends "base.html" %}
{% load review_extras %}
{% load static from staticfiles %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/membership.css' %}" type="text/css" />
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/membership.js' %}"></script>

{% endblock %}

{% block breadcrumbs %}
  <a class="breadcrumb first-breadcrumb" href="{% url 'review.views.dashboard' %}">Dashboard</a>
  <a class="breadcrumb" href="{% url 'review.views.edit_membership' %}">Volunteer for Classes</a>
{% endblock %}

{% block content %}

<div class='row'>
  <div class='span12'>
    <h1>Available Classes</h1>

    {% for semester in semesters.all %}
    <div class='class-description well well-large'>
      <h2>{{ semester.subject.name }}: {{ semester.description }} <small>{{ semester.semester }}</small></h2>
      <p>{{ semester.about_html|safe }}</p>

      {% if not semester|is_enrolled:enrolled_classes %}
        <div class='btn btn-info volunteer' data-semester='{{ semester.id }}' data-enrolled='False'>Volunteer</div>
      {% else %}
        <div class='btn btn-danger volunteer' data-semester='{{ semester.id }}' data-enrolled='True'>Stop Volunteering</div>
      {% endif %}

    </div>
    {% endfor %}

  </div>
</div>

{% endblock %}
