{% extends "base.html" %}
{% load static from staticfiles %}

{% block css %}

{{ block.super }}
<link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css" />

{% endblock %}

{% block content %}

<div id="login-container">
<h2>log in</h2>

<div id="cert-login-box">
    <form action="https://{{ request.get_host }}{{ next }}">
        <button id="cert-login-button" type="submit">Login with MIT certificates</button>
    </form>

</div>

<div id="standard-login-box" >
  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}

    {{ form.username.label_tag }}
    {{ form.username }} 
    {{ form.password.label_tag }}
    {{ form.password }}

    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit">Login</button>
  </form>

  <a id="forgotten-link" 
     href="{% url 'django.contrib.auth.views.password_reset' %}">
    Forgotten password?
  </a>

  <a id="register-link" href="{% url 'review.views.registration_request' %}?next={{ next }}">Register</a>

</div>

<div id="browser">
The supported browsers are <a href="http://www.mozilla.org/en-US/firefox/new/"> Firefox </a> and <a href="http://www.google.com/chrome"> Google Chrome </a>. 
</div>
</div>

{% endblock %}
