{% extends "base.html" %}
{% load static from staticfiles %}

{% block css %}

{{ block.super }}
<link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css" />

{% endblock %}

{% block content %}

<div id="registration-container">
<h2>request account</h2>

<div id="standard-registration-box" >
  <h3>Enter your @alum.mit.edu email address to get an invite.</h3>
  {% if form.errors %}
  <p>Not a valid email address. Please try again.</p>
  {% endif %}

  <form method="post" action="{% url 'review.views.registration_request' %}">
    {% csrf_token %}

    <label for="email">Enter your email here:</label>
    <input type="text" name="email" id="email}" placeholder="___@alum.mit.edu" />

    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit">Get Invited</button>
  </form>
</div>

<div id="browser">
The supported browsers are <a href="http://www.mozilla.org/en-US/firefox/new/"> Firefox </a> and <a href="http://www.google.com/chrome"> Google Chrome </a>.
</div>
</div>

{% endblock %}
