<script type="text/javascript">

$(document).ready(function() {
  {% if COMMENT_SEARCH %}
    var comment_type = "reply";
    try {
      setupSimilarComments(comment_type);      
    }
    catch(e) {}
  {% endif %}
});

</script>

<div class="comment comment-reply new-reply">
  <div class="reply-form">
    <form id="reply-comment-form"
      action="{% url 'reply' %}" method="post">
      {% csrf_token %}
      <div id='textentry' contenteditable='true'></div>
      {{ form.text }}
      {{ form.parent }}
      {{ form.similar_comment }}
      <button type="submit">Save</button>
      <button id="cancel-reply-button" type="button">Cancel</button>
    </form>
  </div>
</div>
