{% extends "base.html" %}
{% load static from staticfiles %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/summary.css' %}" type="text/css" />
{% endblock %}

{% block js %}
{{ block.super }}

<script src="{% static 'js/highcharts-3.0.0.js' %}"></script>
<script src="{% static 'js/highcharts-exporting.js' %}"></script>
<script>
$(document).ready(function(){

    var important;
    var test;
    var unimportant;

        important = new Highcharts.Chart({
            chart: {
                renderTo: 'important-graph',
                zoomType: 'xy',
                plotBorderWidth: 1,
            },
            title: {
                text: 'Lines of Student Code for Classes'
            },
            xAxis: {
                title: {
                    enabled: true,
                    text: 'lines of code'
                },
                startOnTick: false,
                endOnTick: false,
                showLastLabel: true,
                max: 200,
                min: 0
            },
            yAxis: {
                title: {
                    text: '# copies'
                },
                startOnTick: false,
                endOnTick: false,
                max: {{max_important}},
                min: 0
            },
            tooltip: {
                formatter: function() {
                        return ''+
                        this.x +' lines of code, '+ this.y +' copies';
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                y: 20,
                floating: true,
                backgroundColor: '#FFFFFF',
                borderWidth: 1
            },
            plotOptions: {
                scatter: {
                    marker: {
                        radius: 3,
                        states: {
                            hover: {
                                enabled: true,
                                lineColor: 'rgb(100,100,100)'
                            }
                        }
                    },
                    states: {
                        hover: {
                            marker: {
                                enabled: false
                            }
                        }
                    }
                }
            },
            series: [
            {% for name, graph in important_graph %}
            {
                name: "{{name}}",
                type: "scatter",
                data: {{graph}}
            },
            {% endfor %}
            {
                name: "student lines",
                type: "line",
                data: [{x: 30, y: -1, id: 'lower'}, {x: 30, y: 300, id: 'higher'}]
            },
            ]
        });
        
        test = new Highcharts.Chart({
            chart: {
                renderTo: 'test-graph',
                type: 'scatter',
                plotBorderWidth: 1
            },
            title: {
                text: 'Lines of Student Code for Tests'
            },
            xAxis: {
                title: {
                    enabled: true,
                    text: 'lines of code'
                },
                startOnTick: false,
                endOnTick: false,
                showLastLabel: true,
                max: 200,
                min: 0
            },
            yAxis: {
                title: {
                    text: '# copies'
                },
                startOnTick: false,
                endOnTick: false,
                max: {{max_test}},
                min: 0
            },
            tooltip: {
                formatter: function() {
                        return ''+
                        this.x +' lines of code, '+ this.y +' copies';
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                y: 20,
                floating: true,
                backgroundColor: '#FFFFFF',
                borderWidth: 1,
                lineHeight: 5,
            },
            plotOptions: {
                scatter: {
                    marker: {
                        radius: 3,
                        states: {
                            hover: {
                                enabled: true,
                                lineColor: 'rgb(100,100,100)'
                            }
                        }
                    },
                    states: {
                        hover: {
                            marker: {
                                enabled: false
                            }
                        }
                    }
                }
            },
            series: [
            {% for name, graph in test_graph %}
            {
                name: "{{name}}",
                data: {{graph}}
            },
            {% endfor %}
            {
                name: "student lines",
                type: "line",
                data: [{x: 30, y: -1, id: 'lower'}, {x: 30, y: 300, id: 'higher'}]
            },
            ]
        });

        unimportant = new Highcharts.Chart({
            chart: {
                renderTo: 'unimportant-graph',
                type: 'scatter',
                zoomType: 'xy'
            },
            title: {
                text: 'Other Classes'
            },
            xAxis: {
                title: {
                    enabled: true,
                    text: 'lines of code'
                },
                startOnTick: true,
                endOnTick: true,
                showLastLabel: true,
                max: 200,
                min: 0
            },
            yAxis: {
                title: {
                    text: '# copies'
                },
                max: {{max_unimportant}},
                min: 0
            },
            tooltip: {
                formatter: function() {
                        return ''+
                        this.x +' lines of code, '+ this.y +' copies';
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                y: 20,
                floating: true,
                backgroundColor: '#FFFFFF',
                borderWidth: 1,
                lineHeight: 5,
            },
            plotOptions: {
                scatter: {
                    marker: {
                        radius: 3,
                        states: {
                            hover: {
                                enabled: true,
                                lineColor: 'rgb(100,100,100)'
                            }
                        }
                    },
                    states: {
                        hover: {
                            marker: {
                                enabled: false
                            }
                        }
                    }
                }
            },
            series: [
            {% for name, graph in unimportant_graph %}
            {
                name: "{{name}}",
                data: {{graph}}
            },
            {% endfor %}
            {
                name: "student lines",
                type: "line",
                data: [{x: 30, y: -1, id: 'lower'}, {x: 30, y: 300, id: 'higher'}]
            },
            ]
        });
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
    $(".count").keyup(function(event){
        countReviewers();
      });
    function countReviewers() {
        var student_contr = parseInt($("#total-students").val()) * parseInt($("#per-student").val());
        var alum_contr = parseInt($("#total-alums").val()) * parseInt($("#per-alum").val());
        var per_chunk = parseInt($("#per-chunk").val());
        var total = (student_contr + alum_contr)/per_chunk;
        $("#power-number").text(total);
        $("#student-tasks").text($("#total-students").val() + " x " + $("#per-student").val() + " = " + student_contr + " tasks total.");
        $("#alum-tasks").text($("#total-alums").val() + " x " + $("#per-alum").val() + " = " + alum_contr + " tasks total.");
        $("#task-class").text("/ (" + per_chunk + " tasks/class ) = " + total + " classes");
    }
    $(".chunks").change(function(event){
        countChunks();
    });
    $(".lines").change(function(event){
        move_lines();
        countChunks();
    });
    function countChunks() {
        var total = 0;
        var min_lines = parseInt($("#min-lines").val());
        $(".chunks").each(function(){
            chunk_total = 0
            {% for name, graph in important_graph %}
            if ("{{name}}" == $(this).val() ){
                {% for x, y in graph %}
                    if( {{x}} >= min_lines ) {
                         chunk_total += {{y}};
                    }
                {% endfor %}
            }
            {% endfor %}
            {% for name, graph in test_graph %}
            if ("{{name}}" == $(this).val() ){
                {% for x, y in graph %}
                    if( {{x}} >= min_lines ) {
                        chunk_total += {{y}};
                    }
                {% endfor %}
            }
            {% endfor %}
            {% for name, graph in unimportant_graph %}
            if ("{{name}}" == $(this).val() ){
                {% for x, y in graph %}
                    if( {{x}} >= min_lines ) {
                        chunk_total += {{y}};
                   }
                {% endfor %}
            }
            {% endfor %}
            $("#span-" + $(this).val()).text($(this).val() + ", " + chunk_total);
            $("#non-span-" + $(this).val()).text($(this).val());
            if(chunk_total == 0){
                $("#span-" + $(this).val()).parent().hide();
                $("#non-span-" + $(this).val()).parent().show();
            }
            else{
                $("#span-" + $(this).val()).parent().show();
                $("#non-span-" + $(this).val()).parent().hide();
            }
            if($(this).is(":checked")){
                total += chunk_total;
            }
        $("#chunk-number").text(total);
        });
    }
    function move_lines() {
        var min_lines = parseInt($("#min-lines").val());
	    var lower = important.get('lower');
        var higher = important.get('higher');
        if (lower) {
            lower.update([min_lines, -1], true)
        }
        if (higher) {
            higher.update([min_lines, 300], true)
        }
	    var lower = test.get('lower');
        var higher = test.get('higher');
        if (lower) {
            lower.update([min_lines, -1], true)
        }
        if (higher) {
            higher.update([min_lines, 300], true)
        }
	    var lower = unimportant.get('lower');
        var higher = unimportant.get('higher');
        if (lower) {
            lower.update([min_lines, -1], true)
        }
        if (higher) {
            higher.update([min_lines, 300], true)
        }
    }
    countChunks();
    countReviewers();
    move_lines();
});   
</script>
{% endblock %}

{% block breadcrumbs %}
  <a class="breadcrumb first-breadcrumb" href="{% url 'dashboard' %}">Dashboard</a>
  <span class="breadcrumb">Milestone Info</span>
{% endblock %}

{% block content %}
<form id="simluate-form" 
  action="/simulate/{{review_milestone.id}}" method="post">
  {% csrf_token %}

<p> <h1 class="task-header"> Settings for {{ review_milestone.full_name }}. </h1> </p>

<p> Assign <input type="text" id="per-chunk" class="count" name="per_chunk" value="{{ review_milestone.reviewers_per_chunk }}" size=3/> non staff users (students and alums) to each class for review. Staff will serve as quality control and be assigned as a <span id="next-reviewer"> 3rd</span> reviewer to as many classes as possible. </p>

<p><h2 class="task-header">For the reviewing process we can expect: </h2>
Baseline values for {{review_milestone.full_name}} in <span class="purple"> purple. </span> <br/>
<table class="assignment-stream">
  <tr class="non-activity-line">
    <td class="line-up"> 
       <input type="text" id="total-students" class="count line-up" name="students" value="{{ review_milestone.students }}" size=3/> <br/> <span class="purple line-up"> {{review_milestone.students_default}} </span>
    </td>
    <td class="center-up"> students </td>
    <td class="line-up"> reviewing </td>
    <td class="line-up">  <input type="text" id="per-student" class="count line-up" name="student_tasks" value="{{ review_milestone.student_count }}" size=3/> <br/> <span class="purple line-up"> {{review_milestone.student_count_default}} </span></td>
    <td class="center-up"> tasks each. </td>
    <td class="last-left"><span id="student-tasks">0 tasks total.</span></td>
  </tr>
  <tr class="non-activity-line">
      <td class="line-up"> 
         <input type="text" id="total-alums" class="count line-up" name="alums" value="{{ review_milestone.alums }}" size=3/> <br/> <span class="purple line-up"> {{review_milestone.alums_default}} </span>
      </td>
      <td class="center-up"> alums </td>
      <td class="line-up"> reviewing </td>
      <td class="line-up">  <input type="text" id="per-alum" class="count line-up" name="alum_tasks" value="{{ review_milestone.alum_count }}" size=3/> <br/> <span class="purple line-up"> {{review_milestone.alum_count_default}} </span> </td>
      <td class="center-up"> tasks each. </td>
      <td class="last-left"><span id="alum-tasks"> 0  tasks total.</span></td>
  </tr>
  <tr class="non-activity-line">
      <td class="line-up"> 
         <input type="text" name="staff"  class="line-up" value="{{ review_milestone.staff }}" size=3/> <br/> <span class="purple line-up"> {{review_milestone.staff_default}} </span>
      </td>
      <td class="center-up"> staff </td>
      <td class="line-up"> reviewing </td>
      <td class="line-up">  <input type="text" name="staff_tasks" class="line-up" value="{{ review_milestone.staff_count }}" size=3/> <br/> <span class="purple line-up"> {{review_milestone.staff_count_default}} </span> </td>
      <td class="center-up"> tasks each. </td>
      <td class="last-left"> </td>
  </tr>
  <tr class="non-activity-line">
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td class="last-left"><span id='task-class'>/ ({{ review_milestone.reviewers_per_chunk }} tasks/class).</span> <br/></td>
  </tr>
</table>
<h2 class="task-header result" id="power"> At most <span id="power-number" class="green"> 0 </span> classes will reviewed.</h2></p>

<p> Only classes with at least <input type="text" id="min-lines" class="lines" name="min_lines" value="{{ review_milestone.min_student_lines }}" size=3/> student lines will be considered for review. </p>
Click and drag in the plot area to zoom in. 
<div id="important-graph" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<div id="test-graph" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<div id="unimportant-graph" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

<p>
<div class="column-left">
<h4 class="task-header"> Check which classes should be reviewed<br/> Drag to prioritize reviewing order. <br/>
<ul id="sortable">

      {% for name, checked in chunks_data %}
      <li class="list-chunks"><input class="chunks" type="checkbox" name="chunk" value="{{name}}" {%if checked %}checked="checked"{%endif%}><span id="span-{{name}}"></span></li>
      {% endfor %}
</ul></h4></div>
<div class="column-right">
<h4 class="task-header"> The following classes are too short<br/>
(in terms of student lines): <br/>
<ul>
      {% for name, checked in chunks_data %}
      <li class="non-list-chunks"><span id="non-span-{{name}}"></span></li>
      {% endfor %}
</ul></h4></div>
</p>
<div class="clear-both">
<p><h2 class="task-header result" id="power">  <span id="chunk-number" class="green"> 0 </span> classes scheduled for review. </h2></p>
  <br/>
  <div class ="centered">
  <button type="submit">Save</button>
  <button id="cancel-button" type="button">Cancel</button>
  </div>
</div>
</form>


<!-- <p> <h4 class="task-header">  {{ chunks_worth_reviewing.count }} classes that would benefit from reviewing, spread over {{ active_students }} active students (students that at least pulled the assignment). This means that each student contributed {{ classes_per_student }} classes to the review process. In order to review all of them, each student would have to be assigned {{ tasks_per_student }} tasks to review. </h4> </p> -->
{% endblock %}
