{% extends "base.html" %}
{% load review_extras %}
{% load static from staticfiles %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/summary.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/social_foundicons.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/general_foundicons.css' %}" type="text/css" />

{% endblock %}

{% block js %}
{{ block.super }}

<script>
$(document).ready(function() {

    $('.activity-line').click(function(e) {
      var activityType = this.id.split('-')[0]
      var comment_Id = this.id.split('-')[1];
      var chunk_Id = this.id.split('-')[2];
      window.location = "/view/" + chunk_Id + "#" + activityType + "-" + comment_Id;
      return false;
    });

});
</script>

{% endblock %}

{% block breadcrumbs %}
  <a class="breadcrumb first-breadcrumb" href="{% url 'dashboard' %}">Dashboard</a>
  {% if user != participant %}
    <a class="breadcrumb" href="{% url 'allusers' %}">all users</a>
  {% endif %}
  <span class="breadcrumb">{{ participant.username }}</span>
{% endblock %}


{% block content %}

 <div class="row">
    <div class="span12">
      <h2 class="name">{{ participant.first_name }} {{ participant.last_name }} <small>{{ participant.username }}</small></h2>
      <h4 class="task header"> reputation: {{participant.profile.reputation}}</h4>
      {% for membership in participant.membership.all %}
        <span class='label current-{{membership.semester.is_current_semester}} class'>
          {{ membership.semester }} ({{ membership.get_role_display }})
        </span>
      {% endfor %}
      {% if user.is_staff %}
          <a class="breadcrumb first-breadcrumb" href="{% url 'student_dashboard' participant.username %}"> [{{participant.username}} Dashboard]</a> 
      {%endif%}
    </div>
  </div>


<div class="row">
    <div class="span12" id='code'>
      <h3>My Review Activity</h3>
      {% for review_milestone, review_data in review_milestone_data %}
        {% if review_data %}
          <h3 class="assignment-display">
            <a name="assignment-display"></a> {% if not review_milestone.assignment.is_current_semester %}{{ review_milestone.assignment.semester }} - {% endif %}{{ review_milestone.full_name }}
            <div class="view-all-activity">
              <!-- you can "view with code" if you are:
                      a django admin (user.is_staff)
                      the user who made the comments
                      a teacher for that semester
               -->
              {% if user.is_staff or user == participant or review_milestone.assignment.semester in semesters_taught %}
                <a href="{% url 'all_activity' review_milestone.id participant.username %}"> view with code</a>
              {% endif %}
            </div>
          </h4>
          <table class="assignment-stream">
            {% for type, comment, snippet, is_vote, vote in review_data %}
            <tr id="{% if is_vote %}{% if vote.value == 1 %}voteup-{{comment.id}}-{{comment.chunk.id}}
                                    {% else %}votedown-{{comment.id}}-{{comment.chunk.id}}
                                    {% endif %}
                    {% else %}comment-{{comment.id}}-{{comment.chunk.id}}
                    {% endif %}" class="{% if user.is_staff or user == participant or review_milestone.assignment.semester in semesters_taught %}activity-line{%else%}non-activity-line{%endif%}">
              
            <td><span class="type" id="{{type}}" title="{{type}}"></span></td>
            <td> 
                {% if comment.upvote_count == 0 and comment.downvote_count == 0 or is_vote %}
                    <span class="no-votes"></span>
                {% endif %}
                {% if comment.upvote_count > 0 %}
                    <span class="positive-votes">+{{comment.upvote_count}}</span>
                {% endif %}
                {% if comment.upvote_count > 0 and comment.downvote_count > 0 %}/{% endif %}
                {% if comment.downvote_count > 0 %}
                    <span class="negative-votes">-{{comment.downvote_count}}</span>
                {% endif %}
            </td>      
            <td class="{% if is_vote %}grey-text{% else %}black-text{% endif %} "> {{ snippet }} </td>

              <td class="grey-text"> {{ comment.chunk.name }} </td>
              <td class="grey-text"> {{ comment.modified }} </td>
              
            </tr>
            {% empty %}
            {% endfor %}
          </table>
          {% endif %}
          {% empty %}
            <p>The user has no activity yet.</p>
          {% endfor %}
    </div>
  </div>

{% endblock %}
