<!-- comment node ids are named like comment-$ID-$START-$END -->
<div id="comment-{{ comment.id }}-{{ comment.start }}-{{ comment.end }}" 
  class="comment" {% if comment.is_reply %} style="margin-left:30px" {% endif %} >
  {% if user.is_authenticated %}
  <div class="comment-actions">
    <div class="vote-buttons">
      <input type="checkbox" id="upvote-{{ comment.id }}-button" 
        class="upvote-button" value="up"
        {% if vote == 1 %}
        checked="true"
        {% endif %}
      />
      <label for="upvote-{{ comment.id }}-button">+1</label>
      <input type="checkbox" id="downvote-{{ comment.id }}-button" 
        class="downvote-button" value="down"
        {% if vote == -1 %}
        checked="true"
        {% endif %}
      />
      <label for="downvote-{{ comment.id }}-button">-1</label>
    </div>
    {% if comment.author == user %}
    <button id="delete-{{ comment.id }}-button" class="delete-button" 
      type="button">x</button>
    {% endif %}
	<button id="reply-{{ comment.id }}-button" class="reply-button"
	  type="button">reply</button>
  </div>
  {% endif %}
  {% if not comment.is_reply %}
  	{{ comment.start }} - {{ comment.end }} <br/>
  {% endif %}
  {{ comment.text }}
  <div class="comment-votes">
    {% include "comments/comment_votes.html" %}
  </div>
</div>
