<!-- comment node ids are named like comment-$ID-$START-$END -->
<div id="comment-{{ comment.id }}-{{ comment.start }}-{{ comment.end }}" 
  class="comment {% if comment.is_reply %}comment-reply{% endif %}">

  {% if not comment.is_reply %}
  <div class="comment-header">
    <span class="comment-line-numbers">
    {{ comment.start }}
    {% if comment.end != comment.start %} - {{ comment.end }}
    {% endif %}
    </span>
    <span class="comment-snippet">
    {{ snippet }}
    </span>
  </div>
  {% endif %}
  
  <p class="comment-text">
    {{ comment.text }}
  </p>

  <div class="comment-footer">
    <span class="comment-votes">
      {% include "comments/comment_votes.html" %}
    </span>
    {% if user.is_authenticated %}
    <span class="comment-actions">
      <span class="vote-buttons">
        <input type="checkbox" id="upvote-{{ comment.id }}-button" 
          class="upvote-button" value="up"
          {% if vote == 1 %}
          checked="true"
          {% endif %}
        />
        <label for="upvote-{{ comment.id }}-button">+1</label>
        <input type="checkbox" id="downvote-{{ comment.id }}-button" 
          class="downvote-button" value="down"
          {% if vote == -1 %}
          checked="true"
          {% endif %}
        />
        <label for="downvote-{{ comment.id }}-button">-1</label>
      </span>
      <button id="reply-{{ comment.id }}-button" class="reply-button"
        type="button">Reply</button>
      {% if comment.author == user %}
      <button id="delete-{{ comment.id }}-button" class="delete-button" 
        type="button">Delete</button>
      {% endif %}
    </span>
  </div>
  {% endif %}
</div>
