<script type="text/javascript">

  $('#cancel-button').click(function() {
      $('.comment').show();
      $('.comment-form').hide();
      clearSelection();
  });

</script>

<div class="comment-form" title="Add a comment">
  <form action="{% url caesar.comments.views.new %}" method="post">
    {% csrf_token %}
    {{ form.text }}
    {{ form.start }}
    {{ form.end }}
    {{ form.chunk }}
    <button type="submit">Save</button>
    <button id="cancel-button" type="button">Cancel</button>
  </form>
</div>
