{% extends "base.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/dashboard.css" type="text/css" />
{% endblock %}

{% block js %}
{{ block.super }}
<script>
$(document).ready(function() {

    $('.submission-line').click(function(e) {
      var submission_id = this.id.split('-')[1];
      window.location = "/chunks/submission/all/" + submission_id;
      return false;
    });
    $('.task-line').click(function(e) {
      window.location = $(this).attr("data-href")
      return false;
    });

    var toggleInstructionsText = [ 'Hide instructions', 'Show instructions' ];
    var textIndex = 0;
    $('#toggle-instructions-button').click(function() {
        $('#instructions-text').toggle(400);
        textIndex = 1 - textIndex;
        $(this).text(toggleInstructionsText[textIndex]);
    });
    
    $('#historic_content').hide();
    var toggleTaskText = [ 'hide previous semesters', 'show previous semesters' ];
    var taskIndex = 1;
    $('.history').click(function() {
        $('#historic_content').toggle(400);
        taskIndex = 1 - taskIndex;
        $(this).text(toggleTaskText[taskIndex]);
        $(".empty").remove();
    });
    
    var toggleSemesterText = [ 'hide previous semesters', 'show previous semesters' ];
    var semesterIndex = 1;
    $('#historic-submissions').hide();
    $('.history-submissions').click(function() {
        $('#historic-submissions').toggle(400);
        semesterIndex = 1 - semesterIndex;
        $(this).text(toggleTaskText[semesterIndex]);
    });

    $('#progress').hide();
    $('#more_work').click(function(e) {
        $('#progress').show();
        $.post(caesar.urls.more_work, {
        }, function(data) {
            $('#more_work').hide();
            //$('.result').append('<div class="success">You have '+data.total+' new review tasks</div>');
            $('.result').append('<div class="success">You have '+data.total +' new review tasks.</div>');
            $('.task-empty').hide();
            $('#new-task-list').append('<div id=task-'
            + data.one.task_id + '-' + data.one.task_chunk_id + ' class="task-line new"> <span class="chunk-name">' 
            + data.one.task_chunk_name + '</span><span class="task-stats"><span class="comment-count" title="Comments">' + data.one.task_comment_count + '</span><span class="reviewer-count" title="Reviewers">' + data.one.task_reviewer_count + '</span></span><span class="task-snippet">'+ data.one.task_chunk_generate_snippet + '</span></div>');
            $('#new-task-list').append('<div id=task-'
            + data.two.task_id + '-' + data.two.task_chunk_id +' class="task-line new"> <span class="chunk-name">' 
            + data.two.task_chunk_name + '</span><span class="task-stats"><span class="comment-count" title="Comments">' + data.two.task_comment_count + '</span><span class="reviewer-count" title="Reviewers">' + data.two.task_reviewer_count + '</span></span><span class="task-snippet">'+ data.two.task_chunk_generate_snippet + '</span></div>');
            
            $('.task-line').click(function(e) {
              window.location = $(this).attr("data-href")
              return false;
            });
        },"json");
    });

});
</script>

{% endblock %}

{% block breadcrumbs %}
  <a class="breadcrumb first-breadcrumb" href="{% url 'dashboard.views.dashboard' %}">Dashboard</a>
{% endblock %}

{% block secondary-toolbar %}
{% include "dashboard/dashboard_toolbar.html" %}
{% endblock %}

{% block content %}

<div class='row'>
<div class='span12 current-assignments'>
<div class="assignment-header">
    <h2 class="task-header">upcoming assignments</h2>
</div>

<div class="slack-data">
  {% for semester, slack_left in current_slack_data %}
    <div class="semester-slack">
      <p class="slack-left"><b>{{semester.subject.name}}: </b> {{slack_left}} slack days left to use this semester.</p>
    </div>
  {% endfor %}
</div>

<table class="current-assignment">
  {% for milestone, extension in current_milestone_data %}
  <tr class="assignment-line">
    <td class="black-text"> {{ milestone.full_name }} </td>
    <td class="grey-text"> Due on: {{ milestone.duedate|date:"D, N d, Y, P" }} 
        {%if extension %}
          <span class="red-text"> </br> Extended to: {{extension.new_duedate|date:"D, N d, Y, P"}} </span>
        {% endif %}
    </td>
    <td class="=grey-text">
    {% if milestone.max_extension > 0 %}
      <a href="{% url 'accounts.views.request_extension' milestone.id %}"> Request extension</a>
    {% endif %}
    </td>
  </tr>
  {% empty %}
    No assignments in progress.
  {% endfor %}
</table>
</div>

{% if submission_data or old_submission_data %}
<div class='span12 submitted-assignments'>
<h2 class="task-header">submitted assignments</h2>
<div>
  {% for submission, reviewer_count, last_modified, user_comments, static_comments in submission_data %}
  
  <div id ="submission-{{submission.id}}" class="submission-line">
    <span class="chunk-name">
      {{ submission.milestone.full_name }}
    </span>
    <span class="task-stats">
      <span class="reviewer-count" title="Reviewers">
          {{ reviewer_count }}
      </span>
      <span class="comment-count" title="User Comments">
        {{ user_comments }}
      </span>
      <span class="robot-count" title="Automatic Comments">
        {{ static_comments }}
      </span>
    </span>
<!--    <span class="task-snippet">
      {{ last_modified }}
    </span>-->
  </div>
  {% empty %}
  {% endfor %}
</div>
{% if old_submission_data %}
    <div class="history-submissions"> show previous semesters </div>
    <div id="historic-submissions" class="task-list">
      {% for submission, reviewer_count, last_modified, user_comments, static_comments in old_submission_data %}
  
      <div id ="submission-{{submission.id}}" class="submission-line">
        <span class="chunk-name">
          {{ submission.milestone.full_name }}
        </span>
        <span class="task-stats">
          <span class="reviewer-count" title="Reviewers">
              {{ reviewer_count }}
          </span>
          <span class="comment-count" title="User Comments">
            {{ user_comments }}
          </span>
          <span class="robot-count" title="Automatic Comments">
            {{ static_comments }}
          </span>
        </span>
<!--        <span class="task-snippet">
          {{ last_modified }}
       </span>-->
      </div>
      {% empty %}
      {% endfor %}
    </div>
{% endif %}
</div>
{% endif %}

<div class='span12 to-review'>
  <div class="result"></div>
  {% if new_task_count > 0 %}
  <div class="success">
    You have {{ new_task_count }} new review task{{ new_task_count|pluralize }}.
  </div>
  {% endif %}
  <h2 class="task-header">code to review</h2>
  <div id="new-task-list" class="task-list">
    {% for task in active_tasks %}
      {% include "dashboard/task.html" %}
    {% empty %}
       <div class="task-empty">
            No tasks left. If you haven't already, please fill out 
            our <a href="https://spreadsheets.google.com/spreadsheet/viewform?formkey=dGNyMlRVTGNTbXFZazA5bDRPd25sZFE6MQ" target="_blank">feedback survey</a>. 
            {%if allow_requesting_more_tasks %} 
              Or <button id="more_work" type="button">Get more tasks!</button> 
              <span id="progress"><img src="{{ STATIC_URL }}img/progress.gif"/></span>
            {% endif%}
       </div>
    {% endfor %}
  </div>
</div>

<div class='span12 already-reviewed'>
  <h2 class="task-header">code already reviewed</h2>
  <div id="task-section">
    {% for task in completed_tasks.all %}
      {% include "dashboard/task.html" %}
    {% empty %}
    <div class="empty">
    No recent tasks found.
    </div>
    {% endfor %}
  </div>
  {% if old_completed_tasks.all %}
      <div class="history"> show previous semesters </div>
      	<div id="historic_content">
      		<div class="task-list">
        	{% for task in old_completed_tasks.all %}
        	   {% include "dashboard/task.html" %}
        		{% empty %}
        			No tasks found.
        	{% endfor %}
      </div>
      </div>
  {% endif %}
  	</div>
</div>

</div>
{% endblock %}
