<div id="task-{{task.id}}-{{task.chunk.id}}" class="task-line
  {% if task.status == 'N' %}new{% endif %}
  " 
  {% if task.chunk != None %}
  data-href="{% url 'chunks.views.view_chunk' task.chunk.id %}"
  {% else %}
  data-href="{% url 'chunks.views.view_all_chunks' 'all' task.submission.id %}"
  {% endif %}
  >
  <span class="chunk-name">
    {{ task.name }} ({{ task.milestone.assignment }})
  </span>
  <span class="task-stats">
    <span class="comment-count" title="Comments">
      {{ task.chunk.comment_count }} 
    </span>
    <span class="reviewer-count" title="Reviewers">
      {{ task.chunk.reviewer_count }}
    </span>
  </span>
  <span class="task-snippet">
    {#  this is useless and expensive {{ task.chunk.generate_snippet }} #}
  </span>
</div>
