{% extends "base.html" %}

{% block css %}
{{ block.super }}
<style type="text/css">
  thead td {
    font-weight: bold;
    border-bottom: 1px dashed #555;
  }
</style>
{% endblock %}

{% block content %}

<h3>Statistics</h3>
<table>
  <tr>
    <td>Completed tasks</td>
    <td>{{ completed_tasks.count }}</td>
  </tr>
  <tr>
    <td>Total tasks</td>
    <td>{{ tasks.count }}</td>
  </tr>
</table>

<h3>Chunks with comments ({{ chunks_with_comments.count }})</h3>
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>User comments</td>
    </tr>
  </thead>
  <tbody>
    {% for chunk in chunks_with_comments %}
    <tr>
      <td><a href="{{ chunk.get_absolute_url }}">{{ chunk.name }}</a></td>
      <td>{{ chunk.user_comment_count }}</td>
    {% empty %}
      No chunks found
    {% endfor %}
  </tbody>
</table>

<h3>Recent comments</h3>
<table>
  <thead>
    <tr>
      <td>Comment</td>
      <td>Chunk</td>
      <td>Author</td>
      <td>Created</td>
    </tr>
  </thead>
  {% for comment in recent_comments %}
  <tr>
    <td>{{ comment.text }}</td>
    <td>{{ comment.chunk.name }}</td>
    <td>{{ comment.author.username }}</td>
    <td>{{ comment.created }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
